/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-circle-03: unicode(ea02);
$icon-left-arrow: unicode(ea03);
$icon-right-arrow: unicode(ea04);
$icon-up-arrow: unicode(ea05);
$icon-down-arrow: unicode(ea06);
$icon-move-layer-down: unicode(ea07);
$icon-move-up: unicode(ea08);
$icon-direction-53: unicode(ea09);
$icon-pdf: unicode(ea0a);
$icon-img-stack: unicode(ea0b);
$icon-shape-star-2: unicode(ea0c);
$icon-shape-star-1: unicode(ea0d);
$icon-zoom: unicode(ea0e);
$icon-heart-2: unicode(ea0f);
$icon-heart-1: unicode(ea10);
$icon-pin-3-1: unicode(ea11);
$icon-pin-3-2: unicode(ea12);
$icon-button-play: unicode(ea13);
$icon-play-media: unicode(ea14);
$icon-phone: unicode(ea15);
$icon-network-connection: unicode(ea16);
$icon-e-remove: unicode(ea17);
$icon-e-add: unicode(ea18);
$icon-single-02: unicode(ea19);
$icon-mail: unicode(ea1a);
$icon-check: unicode(ea1b);

.icon-circle-03::before {
  content: $icon-circle-03;
}

.icon-left-arrow::before {
  content: $icon-left-arrow;
}

.icon-right-arrow::before {
  content: $icon-right-arrow;
}

.icon-up-arrow::before {
  content: $icon-up-arrow;
}

.icon-down-arrow::before {
  content: $icon-down-arrow;
}

.icon-move-layer-down::before {
  content: $icon-move-layer-down;
}

.icon-move-up::before {
  content: $icon-move-up;
}

.icon-direction-53::before {
  content: $icon-direction-53;
}

.icon-pdf::before {
  content: $icon-pdf;
}

.icon-img-stack::before {
  content: $icon-img-stack;
}

.icon-shape-star-2::before {
  content: $icon-shape-star-2;
}

.icon-shape-star-1::before {
  content: $icon-shape-star-1;
}

.icon-zoom::before {
  content: $icon-zoom;
}

.icon-heart-2::before {
  content: $icon-heart-2;
}

.icon-heart-1::before {
  content: $icon-heart-1;
}

.icon-pin-3-1::before {
  content: $icon-pin-3-1;
}

.icon-pin-3-2::before {
  content: $icon-pin-3-2;
}

.icon-button-play::before {
  content: $icon-button-play;
}

.icon-play-media::before {
  content: $icon-play-media;
}

.icon-phone::before {
  content: $icon-phone;
}

.icon-network-connection::before {
  content: $icon-network-connection;
}

.icon-e-remove::before {
  content: $icon-e-remove;
}

.icon-e-add::before {
  content: $icon-e-add;
}

.icon-single-02::before {
  content: $icon-single-02;
}

.icon-mail::before {
  content: $icon-mail;
}

.icon-check::before {
  content: $icon-check;
}

