// https://getbootstrap.com/docs/4.1/utilities/text/

// Alignment
.t-justify {
   text-align: justify !important;
}

.t-nowrap {
   white-space: nowrap !important;
}

.t-truncate {
   @include text-truncate;
}

// Responsive alignment
@each $breakpoint in map-keys($grid-breakpoints) {
   @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .t#{$infix}-left {
         text-align: left !important;
      }
      .t#{$infix}-right {
         text-align: right !important;
      }
      .t#{$infix}-center {
         text-align: center !important;
      }
   }
}

// Transformation
.t-lowercase {
   text-transform: lowercase !important;
}

.t-uppercase {
   text-transform: uppercase !important;
}

.t-capitalize {
   text-transform: capitalize !important;
}

// Weight and italics
.t-weight-normal {
   font-weight: normal !important;
}
.t-weight-300 {
   font-weight: 300 !important;
}
.t-weight-400 {
   font-weight: 400 !important;
}
.t-weight-500 {
   font-weight: 500 !important;
}
.t-weight-600 {
   font-weight: 600 !important;
}
.t-weight-700 {
   font-weight: 700 !important;
}
.t-weight-900 {
   font-weight: 900 !important;
}

.t-italic {
   font-style: italic !important;
}
