{% extends "base.twig" %}
{% block content %}
   <div class="l_404" data-template="404.twig">
      <header class="container">
         <h1 class="heading-1">
            {{ __( '404 - Seite nicht gefunden', 'wptd' ) }}
         </h1>
         <a class="btn btn1-second" href="/">{{ __('Zurück zur Startseite', 'wptd')}}</a>
      </header>
   </div>
{% endblock %}
