{% extends "base.twig" %}

{% block content %}
   <div class="l_posts" data-template="category.twig">
      <div class="container sp-md">
         <header>
            <h1>{{ __( 'Blog', 'wptd' ) }}: {{ term.title }}</h1>
         </header>
         {% if posts %}
            <ul class="l_posts__list">
            {% for post in posts %}
               <li class="l_posts__item mb-100">
                  {% include "/partials/modules/m_post-teaser.twig" %}
               </li>
            {% endfor %}
            </ul>
         {% else %}
            <p>{{ __('Zu dieser Kategorie sind noch keine Beiträge vorhanden', 'wptd') }}</p>
         {% endif %}
         {% if pagination.prev or pagination.next %}
            {% include "/partials/layouts/n_pagination.twig" %}
         {% endif %}
      </div>
   </div>
{% endblock %}

{% block sidebar %}
   {{ sidebar }}
{% endblock %}
