{% extends "base.twig" %}

{% block html_head_container %}
   {% include 'html-header-noindex.twig' %}
</head>
{% endblock %}

{% set page_header = post.meta('page_header') %}
{% set heading = page_header.heading %}
{% set text = page_header.text %}

{% block content %}
   <div class="l_page" data-template="index.twig">
      <header class="container">
         <h1>{{ post.title }}</h1>
      </header>
      <section class="container">
         <h2>{{ heading }}</h2>
         <p>{{ text }}</p>
      </section>
   </div>
{% endblock %}
