{% extends "base.twig" %}

{% block html_head_container %}
   {% include 'html-header-noindex.twig' %}
</head>
{% endblock %}

{% block content %}
   <div class="l_page" data-template="index.twig">

      <header class="container">
         <h1>{{ post.title }}</h1>
      </header>

      <section class="container">
         <div>{{ post.content }}</div>
      </section>

   </div>
{% endblock %}
