{% extends "base.twig" %}

{% block content %}
   <div class="l_page" data-template="page.twig">

      <header class="container">
         <h1>{{ post.title }}</h1>
      </header>

      <section class="container mb-400">
         <div>{{ post.content }}</div>
      </section>

   </div>
{% endblock %}
