{% extends "base.twig" %}
{% block content %}
   <div class="main__inner l_page">
      <header class="container l_page__header">
         <h1 class="heading-1">
            {{ post.title }}</h1>
      </header>
      {% include '/partials/layouts/l_builder.twig' %}
   </div>
{% endblock %}
