{% extends "base.twig" %}

{% block content %}

	<article class="main__inner pt-large article post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

        <header class="container">
            <div class="container__inner">
                <h1 class="heading-1">{{ post.title }}</h1>
            </div>
        </header>

        {% include '/partials/layouts/l_page_builder.twig' %}

	</article>
{% endblock %}
