{% extends "base.twig" %}

{% block content %}
   <div class="l_posts pt-400 pt-md-600 pb-600 pb-md-800" data-template="tag.twig">
      <div class="container py-300">

         <header>
            <h1>{{ __( 'Blog', 'wptd' ) }}: {{ term.title|lower }}</h1>
         </header>

         {% if posts|length %}
            <ul class="l_posts__list">
            {% for post in posts %}
               <li class="l_posts__item mb-100">
                  {% include "/partials/modules/m_post-teaser.twig" %}
               </li>
            {% endfor %}
            </ul>

         {% else %}
            <p>{{ __('Zu diesem Tag sind noch keine Beiträge vorhanden', 'wptd') }}</p>
         {% endif %}

         {% if pagination.prev or pagination.next %}
            {% include "/partials/layouts/n_pagination.twig" %}
         {% endif %}

      </div>
   </div>
{% endblock %}

{% block sidebar %}
   {{ sidebar }}
{% endblock %}
