{% extends "base.twig" %}

{% block content %}

    <div class="main__inner pt-large">
        <div class="container sp-large">
            <div class="container__inner">
                {{ post.content }}
            </div>
        </div>
    </div>

{% endblock %}
