{% extends "base.twig" %}

{% block content %}
   <div class="l_page" data-template="tpl-builder-detail.twig">

      <header class="container">
         <h1>{{ post.title }}</h1>
      </header>

      <div class="container">
         <div class="row">
            <div class="col col-12">
               <div class="l_builder">
                  {% include '/partials/builder/builder-detail.twig' %}
               </div>
            </div>
         </div>
      </div>

   </div>
{% endblock %}
