{% set content = post.meta('tinymce') %}
{% extends "base.twig" %}
{% block content %}
   <div class="main__inner l_page">
      <header class="container">
         <h1 class="heading-1">
            {{post.title}}</h1>
      </header>
      <div class="container">
         <div class="row">
            <div class="col col-12 col-md-8">
               <h2>Content</h2>
               <div class="tinymce">
                  {{ content }}
               </div>
            </div>
            <div class="col col-12 col-md-4">
               {{ sidebar }}
            </div>
         </div>
      </div>
   </div>
{% endblock %}
