{% extends "base.twig" %}

{% block content %}

	<div class="main__inner pt-large">
        <div class="container">
            <div class="container__inner">

                {% include '/partials/modules/m_example.twig' %}

            </div>
        </div>
    </div>

{% endblock %}
