{% extends "base.twig" %}

{% block content %}
   <div class="l_page pt-400 pt-md-600 pb-600 pb-md-800" data-template="tpl-builder-detail.twig">

      <header class="container">
         <h1>{{ post.title }}</h1>
      </header>

      <div class="l_builder">
         {% include '/partials/builder/builder-detail.twig' %}
      </div>

   </div>
{% endblock %}
