{% extends "base.twig" %}
{% block content %}
   <div class="main__inner l_page">
      <header class="container">
         <h1 class="heading-1">{{post.title}}</h1>
      </header>
      <div class="container tinymce">
         {{ post.meta('tinymce') }}
      </div>
      {{ sidebar }}
   </div>
{% endblock %}
