<header class="container h_site">
    <div class="container__inner">

        <a href="/">
            <img src="{{ theme.link }}/assets/img/dreiqbik-logo-mobile.svg" alt="" class="h_site__logo">
        </a>

        {% include '/partials/navigation/n_site.twig' %}

    </div>
</header>
