<header class="h_site-wrapper bg-c1-main position-relative">
   <div class="container">
      <div class="h_site">
         <a href="/">
            {# TODO: set alt tag #}
            <img
               src="{{ theme.link }}/assets/img/dreiqbik-logo-mobile.svg"
               alt="wptd_placeholder"
               class="h_site__logo">
         </a>
         <div class="h_site__burger">
            <span class='h_site__burger-bar'></span>
         </div>
         {% include '/partials/navigation/n_site.twig' %}
      </div>
   </div>
</header>
