<header class="bg-c1-main">
   <div class="container">
      <div class="h_site">
         <a href="/">
            <img src="{{ theme.link }}/assets/img/dreiqbik-logo-mobile.svg" alt="" class="h_site__logo">
         </a>
         {% include '/partials/navigation/n_site.twig' %}
      </div>
   </div>
</header>
