{% extends "base.twig" %}

{% block header %}
  <header class="container">
    <h1 class="heading-1 f1-third">
      {{ post.title }}
    </h1>
  </header>
{% endblock %}


{% block content %}
  {% for module in template_modules %}
    <div class="container">
      {% include module %}
    </div>
  {% endfor %}
{% endblock %}
