{% extends "base.twig" %}

{% block content %}
   <div class="l_posts" data-template="page-modules.twig">
      <div class="container pb-medium">
         <header>
            <h1>{{ __( 'Bausteine', 'wptd' ) }}</h1>
         </header>
         <div class="l_builder">
         {% for module in template_modules %}
            {% include module %}
         {% endfor %}
         </div>
      </div>
   </div>
{% endblock %}
