{% extends "base.twig" %}
{% block header %}
   <header class="container">
      <h1 class="heading-1 f1-third">
         {{ post.title }}
      </h1>
   </header>
{% endblock %}
{% block content %}
   <div class="main__inner l_styleguide mt-3">
      {% for module in styleguide_modules %}
         {% include module %}
      {% endfor %}
   </div>
{% endblock %}
