{% extends "base.twig" %}


{% block content %}
   <div class="l_styleguide" data-template="page-modules.twig">
      <div class="container sp-md">
         <header>
            <h1>{{ __( 'Styleguide', 'wptd' ) }}</h1>
         </header>
         <div class="l_builder">
         {% for module in styleguide_partials %}
            {% include module %}
         {% endfor %}
         </div>
      </div>
   </div>
{% endblock %}
