.m_back-to-top {
   position: fixed;
   bottom: 1rem;
   right: 0.6rem;
   width: 3rem;
   height: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 0;
   outline: none;
   z-index: 100;
   background-color: $c3-main;
   transition: opacity $transition-150 ease-in-out, visibility $transition-150 ease-in-out,
   transform $transition-150 ease-in-out, background $transition-150 ease-in-out;
   border-radius: $bd-radius-3;
   cursor: pointer;
   padding: 0;

   @include media-breakpoint-up(sm) {
      bottom: 1.5rem;
      right: 1rem;
      width: 3.5rem;
      height: 3.5rem;
   }

   @include media-breakpoint-up(md) {
      right: 2rem;
   }

   @include media-breakpoint-up(lg) {
      width: 4rem;
      height: 4rem;
   }

   &:hover {
      @include media-breakpoint-up(md) {
         background-color: $c1-third;
      }
   }

   &.is-hidden {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
   }

   .icon {
      color: $c-white;
   }
}
