.m_post-teaser {
   background-color: $c1-main;
   border-radius: $border-radius;
   padding: 2rem;

   &__meta {
      background-color: $c2-main;
      display: inline-flex;
      flex-wrap: wrap;
      border-radius: $border-radius;
      margin-bottom: 0.5rem;

      > * {
         padding: 0 0.5rem;
      }
   }
}
