label {
   font-family: $f3-second;
   font-size: 1rem;
   color: $c1-third;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
   outline: none;
   border: 0;
   border-top: 2px solid $c1-gray;
   border-bottom: 2px solid $c1-gray;
   color: $c1-main;

   // placeholder
   &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $c1-gray;
   }
   &::-webkit-input-placeholder {
      color: $c1-gray;
   }
   &::-moz-placeholder {
      /* Firefox 19+ */
      color: $c1-gray;
   }
   &:-ms-input-placeholder {
      /* IE 10+ */
      color: $c1-gray;
   }
   &:-moz-placeholder {
      /* Firefox 18- */
      color: $c1-gray;
   }
}


input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"], {
   transition: 0.2s ease-in-out;
   background-color: $c-white;
   display: block;
   width: 100%;
   height: 42px;
   padding: 0 1em;

   &:focus {
      border-color: $c1-third;
   }
   &:hover {
      border-color: $c1-third;
   }
}

//hide number input spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
   -moz-appearance:textfield;
 }

textarea {
   background-color: $c-white;
   width: 100%;
   height: 200px;
   min-height: 200px;
   padding: 1em;

   &:focus {
      border-color: $c1-third;
   }
   &:hover {
      border-color: $c1-third;
   }
}
