.checkbox-wrapper {
   display: block;
   position: relative;
   line-height: 0;

   &:hover {
      @include media-breakpoint-up(md) {

         span {
            color: $c1-third;
         }
         input {
            & + span {
               &:before {
                  border-color: $c1-third;
               }
            }
         }
      }
   }

   input {
      cursor: pointer;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;

      &:focus {
         + span:before {
            border-color: $c1-accent;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($c1-accent, 0.5);
            border-radius: $bd-radius-3;
         }
      }

      &:checked {
         // label and visible checkbox
         & + span {
            color: $c1-third;

            &:before {
               content: '\2713';
               display: inline-flex;
               align-items: center;
               justify-content: center;
               speak: none;
               text-transform: none;
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale;
               font-size: 1rem;
               color: $c1-third;
               border-color: $c1-third;
            }
         }
      }
      // label and visible checkbox
      & + span {
         cursor: pointer;
         transition: color $transition-150 ease-in-out;
         display: inline-flex;
         align-items: center;
         color: $c1-main;

         &:before {
            content: "";
            transition: border-color $transition-150 ease-in-out;
            background: $c-white;
            display: inline-flex;
            align-items: center;
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border: 2px solid $c1-gray;
         }
      }
   }
}
