.radio-wrapper {
   display: block;
   position: relative;
   line-height: 0;

   &:hover {
      @include media-breakpoint-up(md) {

         span {
            color: $c1-third;
         }
         input {
            & + span {
               &:before {
                  border-color: $c1-third;
               }
            }
         }
      }
   }

   input {
      cursor: pointer;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;

      &:focus {
         + span:before {
            border-color: $c1-accent;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($c1-accent, 0.5);
            border-radius: $bd-radius-round;
         }
      }

      &:checked {
         // label and visible radio
         & + span {
            position: relative;
            color: $c1-third;

            &:before {
               border-color: $c1-third;
            }

            &:after {
               content: "";
               background-color: $c1-third;
               position: absolute;
               top: 10px;
               left: 10px;
               width: 10px;
               height: 10px;
               border-radius: 50%;
            }
         }
      }
      // label and visible radio
      & + span {
         cursor: pointer;
         transition: color 0.15s ease-in-out;
         display: inline-flex;
         align-items: center;
         color: $c1-main;

         &:before {
            content: "";
            transition: border-color 0.15s ease-in-out;
            background: $c-white;
            display: inline-flex;
            align-items: center;
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border: 2px solid $c1-gray;
            border-radius: 50%;
         }
      }
   }
}
