.choices {
   cursor: pointer;
   position: relative;
   color: $c1-main;

   &:focus {
      outline: none;
   }
   &:last-child {
      margin-bottom: 0;
   }

   &:after {
      content: "";
      height: 0;
      width: 0;
      border-style: solid;
      border-color: $c1-third transparent transparent transparent;
      border-width: 5px;
      position: absolute;
      right: 11.5px;
      top: 50%;
      margin-top: -2.5px;
      pointer-events: none;
   }

   &.is-open:after {
      border-color: transparent transparent $c1-main transparent;
      margin-top: -7.5px;
   }

   &__input {
      display: block;
      width: 100%;
      background-color: yelow;
      margin: 0;
   }
}

.choices__inner {
   transition: border-color $transition-150 ease-in-out;
   overflow: hidden;
   display: inline-block;
   background-color: $c-white;
   vertical-align: top;
   width: 100%;
   height: 42px;
   padding: 0.3rem 1rem;
   border-top: 2px solid $c1-gray;
   border-bottom: 2px solid $c1-gray;

   &:hover {
      border-color: $c1-third;
   }

   .is-focused &,
   .is-open & {
      border-color: $c1-third;
   }
   .is-open & {
   }
   .is-flipped.is-open & {
   }

   &__list {
      margin: 0;
      padding-left: 0;
      list-style: none;
   }

   &__item {
      cursor: default;
   }

   &__item--selectable {
      cursor: pointer;
   }

   &__item--disabled {
      cursor: not-allowed;
      user-select: none;
      opacity: 0.5;
   }

   &__input {
      display: inline-block;
      vertical-align: baseline;
      border: 0;
      border-radius: 0;
      max-width: 100%;

      &:focus {
         outline: 0;
      }
      [dir="rtl"] & {
         padding-right: 2px;
         padding-left: 0;
      }
   }

   &__placeholder {
      opacity: 0.5;
   }
}

.choices__list--dropdown {
   display: none;
   z-index: 10;
   position: absolute;
   width: 100%;
   background-color: $c-white;
   top: 100%;
   margin-top: 0px;
   overflow: hidden;
   word-break: break-all;
   box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.2);

   &.is-active {
      display: block;
   }

   .is-open & {
   }

   .is-flipped & {
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: -1px;
   }

   .choices__list {
      position: relative;
      max-height: 300px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
   }

   .choices__item {
      position: relative;
      padding: 0.7rem 1rem;
      [dir="rtl"] & {
         text-align: right;
      }
   }

   .choices__item--selectable {

      @include media-breakpoint-up(md) {
         padding-right: 100px;

         &:after {
            content: attr(data-select-text);
            opacity: 0;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
         }

         [dir="rtl"] & {
            text-align: right;
            padding-left: 100px;
            padding-right: 10px;

            &:after {
               right: auto;
               left: 10px;
            }
         }
      }

      &.is-highlighted {
         background-color: darken($c-white, 5%);

         &:after {
            opacity: 0.5;
         }
      }
   }
}
