input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  border-top: 2px solid $c1-success;
  border-bottom: 2px solid $c1-success;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border-top: 2px solid $c1-error;
  border-bottom: 2px solid $c1-error;
}

.parsley-errors-list {
  margin: 0.3rem 0 0;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.1rem;
  opacity: 0;
  color: $c-white;
  transition: all $transition-150 ease-in;

  &.filled {
     opacity: 1;
  }

  > li {
      margin-right: 0.5rem;
      padding-left: 0;
      font-size: 0.9rem;
      color: $c1-error;

      &:before {
        display: none;
      }
  }
}
