{# USES
   {% include "/partials/modules/m_back-to-top.twig" %}
#}

<button class="m_back-to-top is-hidden">
   <svg class="icon icon--medium icon--outline icon--stroke-4"><use href="#icon-up-arrow" xlink:href="#icon-up-arrow"/></svg>
</button>
