
{# USES
   editor => type: string
   ---
   {% include "/partials/modules/m_text.twig" with {
      editor: editor
   } %}
#}

<div class="m_editor">
   <div class="tinymce">{{ editor }}</div>
</div>
