.blg_card-teaser {

   &__content {
      background-color: $c2-main;
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;
      color: $c-white;
   }

   &__heading {
      font-family: $f1-main;
      text-transform: uppercase;
      @include fontstyle("fs5");
   }
}
