/******************************************************************
	COLORS
******************************************************************/

// greys
$c-black: #000000;
$c-white: #ffffff;
$c1-grey: #c8c8c8;

// project
$c1-main: #2c3e50;
$c2-main: #384d62;
$c3-main: #879cb1;

$c1-second: #fff191;
$c2-second: #eede70;

$c1-third: #ec764d;
$c2-third: #d96a44;
$c3-third: #ff855b;

// specials
$c1-accent: lighten($c3-main, 5%);
$c1-hint: $c1-third;
$c1-error: #d6445c;
$c1-success: #00b878;

$theme-colors: () !default;
$theme-colors: map-merge(
   (
      "c1-main": $c1-main,
      "c2-main": $c2-main,
      "c3-main": $c3-main,
      "c1-second": $c1-second,
      "c2-second": $c2-second,
      "c1-third": $c1-third,
      "c2-third": $c2-third,
      "c1-accent": $c1-accent,
      "c1-hint": $c1-hint,
      "c1-error": $c1-error,
      "c1-success": $c1-success,
   ),
   $theme-colors
);


/******************************************************************
   FONTS
******************************************************************/

$f1-main: "FuturaLTPro-XBold", sans-serif;
$f1-second: "OfficinaSansITCStd", "Helvetica", "Arial", sans-serif;
$f2-second: "OfficinaSansITCStd-Italic", "Helvetica", "Arial", sans-serif;
$f3-second: "OfficinaSansITCStd-Bold", "Helvetica", "Arial", sans-serif;
$f4-second: "OfficinaSansITCStd-Bold-Italic", "Helvetica", "Arial", sans-serif;

$theme-fonts: () !default;
$theme-fonts: map-merge(
   (
      "f1-main": $f1-main,
      "f1-second": $f1-second,
      "f2-second": $f2-second,
      "f3-second": $f3-second,
      "f4-second": $f4-second,
   ),
   $theme-fonts
);


/******************************************************************
   BORDER_RADIUS
******************************************************************/

$border-radius: 3px;



/******************************************************************
   SPACERS
   https://getbootstrap.com/docs/4.1/utilities/spacing/
******************************************************************/

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
   (
      0: 0,
      1: (
         $spacer * 0.25,
      ),
      2: (
         $spacer * 0.5,
      ),
      3: $spacer,
      4: (
         $spacer * 1.5,
      ),
      5: (
         $spacer * 3,
      ),
      6: (
         $spacer * 5,
      ),
      7: (
         $spacer * 8,
      ),
      8: (
         $spacer * 10,
      ),
      9: (
         $spacer * 15,
      ),
      10: (
         $spacer * 18,
      ),
      grid: (
         $spacer * 2,
      ),
   ),
   $spacers
);


/******************************************************************
   GRID
   https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
******************************************************************/

// Quickly modify global styling by enabling or disabling optional features.
$enable-grid-classes: true !default;

// Grid breakpoints
// @USAGE: @include media-breakpoint-up(sm) {}
$grid-breakpoints: (
   xs: 0,
   sm: 481px,
   md: 961px,
   lg: 1361px,
   xl: 1921px,
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers default
// @USAGE: .container
$container-widths: (
   xs: 90%,
   sm: 90%,
   md: 80%,
   lg: 75%,
   xl: 70%,
) !default;

$container-max-widths: (
   sm: 600px,
   md: 1000px,
   lg: 1400px,
   xl: 1600px,
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid containers narrow
// @USAGE: .container--narrow
$container-widths-narrow: (
   sm: 600px,
   md: 800px,
   lg: 900px,
   xl: 1200px,
) !default;

// Grid containers wide
// @USAGE: .container--wide
$container-widths-wide: (
   sm: 90%,
   md: 90%,
   lg: 90%,
   xl: 90%,
) !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: ($spacer * 2) !default;
