/******************************************************************
	COLORS
******************************************************************/

// grayscale
$c-black: #000000;
$c-white: #ffffff;
$c1-gray: #c8c8c8;

// project
$c1-main: #2c3e50;
$c2-main: #384d62;
$c3-main: #879cb1;

$c1-second: #fff191;
$c2-second: #eede70;

$c1-third: #ec764d;
$c2-third: #d96a44;
$c3-third: #ff855b;

// specials
$c1-accent: lighten($c3-main, 5%);
$c1-hint: $c1-third;
$c1-error: #d6445c;
$c1-success: #00b878;

// usage text: .t-c1-main,...
// usage background: .bg-c1-main,...
$theme-colors: () !default;
$theme-colors: map-merge(
   (
      "c-black": #000000,
      "c-white": #ffffff,
      "c1-gray": #c8c8c8,
      "c1-main": $c1-main,
      "c2-main": $c2-main,
      "c3-main": $c3-main,
      "c1-second": $c1-second,
      "c2-second": $c2-second,
      "c1-third": $c1-third,
      "c2-third": $c2-third,
      "c3-third": $c3-third,
      "c1-accent": $c1-accent,
      "c1-hint": $c1-hint,
      "c1-error": $c1-error,
      "c1-success": $c1-success,
   ),
   $theme-colors
);


/******************************************************************
   FONTS
******************************************************************/

$f1-main: "FuturaLTPro-XBold", sans-serif;
$f1-second: "OfficinaSansITCStd", "Helvetica", "Arial", sans-serif;
$f2-second: "OfficinaSansITCStd-Italic", "Helvetica", "Arial", sans-serif;
$f3-second: "OfficinaSansITCStd-Bold", "Helvetica", "Arial", sans-serif;
$f4-second: "OfficinaSansITCStd-Bold-Italic", "Helvetica", "Arial", sans-serif;

// usage: .f1-main, .f1-second,...
$theme-fonts: () !default;
$theme-fonts: map-merge(
   (
      "f1-main": $f1-main,
      "f1-second": $f1-second,
      "f2-second": $f2-second,
      "f3-second": $f3-second,
      "f4-second": $f4-second,
   ),
   $theme-fonts
);


/******************************************************************
   BORDER
******************************************************************/

// border-radius
$bd-radius-3: 3px;
$bd-radius-5: 5px;
$bd-radius-round: 50%;

// usage: .bd-radius-3, .bd-radius-5,...
$border-radius: () !default;
$border-radius: map-merge(
   (
      "bd-radius-3": 3px,
      "bd-radius-5": 5px,
      "bd-radius-round": 50%,
   ),
   $border-radius
);

// border-width
$bd-width-1: 1px;
$bd-width-2: 2px;

// usage: .bd-all-1, .bd-top-1,...
// CAUTION: needs border-color -> usgae: .bd-c1-main,...
$border-width: () !default;
$border-width: map-merge(
   (
      "1": 1px,
      "2": 2px,
   ),
   $border-width
);


/******************************************************************
   TRANSITIONS_TIMING
******************************************************************/

$transition-150: 0.15s;
$transition-300: 0.3s;


/******************************************************************
   SPACERS
******************************************************************/

//https://getbootstrap.com/docs/4.1/utilities/spacing/
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
   (
      0: 0,
      25: (
         $spacer * 0.25,
      ),
      50: (
         $spacer * 0.5,
      ),
      75: (
         $spacer * 0.75,
      ),
      100: (
         $spacer * 1,
      ),
      125: (
         $spacer * 1.25,
      ),
      150: (
         $spacer * 1.5,
      ),
      200: (
         $spacer * 2,
      ),
      250: (
         $spacer * 2.5,
      ),
      300: (
         $spacer * 3,
      ),
      350: (
         $spacer * 3.5,
      ),
      400: (
         $spacer * 4,
      ),
      500: (
         $spacer * 5,
      ),
      600: (
         $spacer * 6,
      ),
      800: (
         $spacer * 8,
      ),
      1000: (
         $spacer * 10,
      ),
      1200: (
         $spacer * 12,
      ),
      1500: (
         $spacer * 15,
      ),
      1800: (
         $spacer * 18,
      ),
      grid: (
         $spacer * 2,
      ),
   ),
   $spacers
);


/******************************************************************
   GRID
   https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
******************************************************************/

// Quickly modify global styling by enabling or disabling optional features.
$enable-grid-classes: true !default;

// Grid breakpoints
// @USAGE: @include media-breakpoint-up(sm) {}
// @USAGE: @include media-breakpoint-down(sm) {}
// @USAGE: @include media-breakpoint-only(sm) {}
// @USAGE: @include media-breakpoint-between(md, xl) {}
$grid-breakpoints: (
   xs: 0,
   sm: 481px,
   md: 961px,
   lg: 1361px,
   xl: 1921px,
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers default
// @USAGE: .container
$container-widths: (
   xs: 90%,
   sm: 90%,
   md: 80%,
   lg: 75%,
   xl: 70%,
) !default;

$container-max-widths: (
   sm: 600px,
   md: 1000px,
   lg: 1400px,
   xl: 1600px,
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid containers narrow
// @USAGE: .container--narrow
$container-widths-narrow: (
   sm: 600px,
   md: 800px,
   lg: 900px,
   xl: 1200px,
) !default;

// Grid containers wide
// @USAGE: .container--wide
$container-widths-wide: (
   sm: 90%,
   md: 90%,
   lg: 90%,
   xl: 1920px,
) !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: ($spacer * 2) !default;
