<nav class="l_styleguide-navigation">
   <ul class="bg-c1-third p-200 bd-radius-5">
      <li class="mb-25"><a class="p1 f3-second" href="#sg-colors">Colors</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-font-variants">Fonts</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-links">Links</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-buttons">Buttons</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-labels">Labels</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-icons">Icons</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-form">Form</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-grid">Grid</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-spacer">Spacer</a></li>
      <li class="mb-25"><a class="p1 f3-second" href="#sg-helper">Helper</a></li>
   </ul>
</nav>



