<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
  <div class="row">
    <div class="col col-12">
      <h2 class="h1 t-c1-third">Fonts</h2>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">h1 - f1-main</h3>
        <p class="h1 t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">h2 - f1-second</h3>
        <p class="h2 t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">h3 - f1-second</h3>
        <p class="h3 t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">h4 - f1-second</h3>
        <p class="h4 t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">p1 - f1-second</h3>
        <p class="p1 t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-0">
        <h3 class="h3 f3-second t-c1-third">p2 - f1-second</h3>
        <p class="p2 t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
  <div class="row">
    <div class="col col-12">
      <h2 class="h1 t-c1-third">Fonts - Schnitte</h2>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">f1-main - black</h3>
        <p class="f1-main t-c1-main t-uppercase">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">f1-second - regular</h3>
        <p class="f1-second t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">f2-second - italic</h3>
        <p class="f2-second t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="h3 f3-second t-c1-third">f3-second - bold</h3>
        <p class="f3-second t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-0">
        <h3 class="h3 f3-second t-c1-third">f4-second - bold italic</h3>
        <p class="f4-second t-c1-main">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
  </div>
</div>
