{# links light #}
<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
   <div class="row">
      <div class="col-12">
         <h2 class="h1 t-c1-main">Links - Auf hell</h2>
      </div>
   </div>
   {# links main #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-third">links - main</h3>
      </div>
   </div>
   <div class="row">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-300">
            <a class="link link1-main" href="#">link text</a>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-300">
            <a class="link link2-main" href="#">link text</a>
         </div>
      </div>
   </div>
</div>

{# links dark #}
<div class="container container--narrow bg-c1-main bd-radius-5 mb-300 px-400 py-200">
   <div class="row">
      <div class="col-12">
         <h2 class="h1 t-c3-main">Links - Auf dunkel</h2>
      </div>
   </div>
   {# links second #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-third">links - second</h3>
      </div>
   </div>
   <div class="row">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-300">
            <a class="link link1-second link--small" href="#">link text</a>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-300">
            <a class="link link2-second" href="#">link text</a>
         </div>
      </div>
   </div>
</div>
