<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
  <div class="row mb-200">
    <div class="col-12">
      <div class="mb-200">
        <h2 id="sg-colors" class="h1 t-c1-main">Farben</h2>
        <p class="p1 t-c1-main">Die hier definierten Farben können alle über Utility-Classes sowohl für Text, als auch für Hintegründe vergeben werden.</p>
      </div>
      <div class="mb-200">
        <h3 class="h3 f3-second t-c1-main">Text-Colors</h3>
        <p class="p1 t-c1-main">
          Schriftfarben müssen als Standard im CSS definiert werden. Wird von dem Standard abgewichen, wird dieser mit Hilfe der gewünschten Utility-Classes überschrieben.
        </p>
        <span class="p1 t-c1-error">Beispiel Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">t-c1-main</pre></code>
      </div>
      <div class="mb-200">
        <h3 class="h3 f3-second t-c1-main">Background-Colors</h3>
        <p class="p1 t-c1-main">
          Background-Colors können als Standard im CSS definiert werden. Wird von dem Standard abgewichen, wird dieser mit Hilfe der gewünschten Utility-Classes überschrieben.
        </p>
        <span class="p1 t-c1-error">Beispiel Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">bg-c1-main</pre></code>
      </div>
    </div>
  </div>

  <h3 class="h3 f3-second t-c1-main">Farbpalette 1</h3>
  <div class="row mb-100">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c1-main bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#2c3e50</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c1-main</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c2-main bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#384d62</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c2-main</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c3-main bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#879cb1</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c3-main</pre></code>
      </div>
    </div>
  </div>

  <h3 class="h3 f3-second t-c1-main">Farbpalette 2</h3>
  <div class="row mb-100">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c1-second bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c1-main f1-second p2">#fff191</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c1-second</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c2-second bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c1-main f1-second p2">#eede70</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c2-second</pre></code>
      </div>
    </div>
  </div>

  <h3 class="h3 f3-second t-c1-main">Farbpalette 3</h3>
  <div class="row mb-100">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c1-third bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#ec764d</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c1-third</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c2-third bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#d96a44</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c2-third</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c3-third bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#ff855b</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c3-third</pre></code>
      </div>
    </div>
  </div>

  <h3 class="h3 f3-second t-c1-main">Sonderfarben</h3>
  <div class="row mb-100">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c1-success bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#00b878</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c1-success</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c1-error bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#d6445c</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c1-error</pre></code>
      </div>
    </div>
  </div>

  <h3 class="h3 f3-second t-c1-main">Grauskala</h3>
  <div class="row">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c-black bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#000000</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c-black</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <div class="color-field bg-c1-gray bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c-white f1-second p2">#c8c8c8</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c1-gray</pre></code>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="pa-200">
        <div class="color-field bg-c-white bd-all-2 bd-c1-gray bd-radius-5 d-flex align-items-center justify-content-center mb-50 wptd-copy"><span class="t-c1-main f1-second p2">#ffffff</span></div>
        <code class="language-css wptd-copy"><pre class="language-css">$c-white</pre></code>
      </div>
    </div>
  </div>
</div>

