{# buttons #}
<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
   <div class="row">
      <div class="col-12">
         <h2 id="sg-icons" class="h1 t-c1-main">Icons</h2>
      </div>

      <div class="col-12 mb-100">
         <a class="link link1-main mb-100" href="{{ theme.link }}/templates/icons/demo.html" target="_blank">Icon Overview >></a>
      </div>

      <div class="col-12 mb-200">
         <h3 class="h3 f3-second t-c1-main">SVG-Icons</h3>
         <i class="icon-wrapper">
            <svg class="icon icon--xs icon--outline icon--stroke-4"><use href="#icon-phone" xlink:href="#icon-phone"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--sm icon--outline icon--stroke-4"><use href="#icon-phone" xlink:href="#icon-phone"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--md icon--outline icon--stroke-4"><use href="#icon-phone" xlink:href="#icon-phone"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--lg icon--outline icon--stroke-4"><use href="#icon-phone" xlink:href="#icon-phone"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--xl icon--outline icon--stroke-4"><use href="#icon-phone" xlink:href="#icon-phone"/></svg>
         </i>
      </div>
      <div class="col-12 mb-200">
         <i class="icon-wrapper">
            <svg class="icon icon--xs icon--outline icon--stroke-4"><use href="#icon-mail" xlink:href="#icon-mail"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--sm icon--outline icon--stroke-4"><use href="#icon-mail" xlink:href="#icon-mail"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--md icon--outline icon--stroke-4"><use href="#icon-mail" xlink:href="#icon-mail"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--lg icon--outline icon--stroke-4"><use href="#icon-mail" xlink:href="#icon-mail"/></svg>
         </i>
         <i class="icon-wrapper">
            <svg class="icon icon--xl icon--outline icon--stroke-4"><use href="#icon-mail" xlink:href="#icon-mail"/></svg>
         </i>
      </div>

      <div class="col-12">
         <h3 class="h3 f3-second t-c1-main">Icon-Font</h3>
         <i class="icon icon--xs icon-mail"></i>
         <i class="icon icon--sm icon-mail"></i>
         <i class="icon icon--md icon-mail"></i>
         <i class="icon icon--lg icon-mail"></i>
         <i class="icon icon--xl icon-mail"></i>
      </div>
   </div>
</div>



