<div class="container container--narrow bg-c-white bd-radius-5 mb-600 mb-md-800">
  <div class="row">
    <div class="col col-12 mb-200">
      <h2 id="sg-font-variants" class="t-c1-main">Schriftvarianten</h2>
      <p class="p1 t-c1-main">Die hier definierten Schriftvarianten können alle über Utility-Classes vergeben werden. Eine Schriftvariante besteht dabei aus der Schriftfamilie (z.B. Futura, Officina, etc.), der Schriftgröße, der Schriftauszeichnung (z.B. bold, italic, etc.), etc.</p>
      <p class="p1 t-c1-main">Schriftvarianten müssen als Standard im CSS definiert werden. Wird von dem Standard abgewichen, wird dieser mit Hilfe der gewünschten Utility-Classes überschrieben (z.B. eine h1 soll weiß anstatt schwarz sein).</p>
      <p class="p1 t-c1-error">Die Abstände von Schriften sind ebenfalls in den Schriftvarianten definiert und sind relativ zur Schriftgröße und werden in "em" angegeben. Nur in absoluten Ausnahmen dürfen die Abstände bei Schriftvarianten via Utility-Classes überschrieben werden.</p>
    </div>

    <div class="col col-12 mb-200">
      <h3 class="t-c1-main">Allgemeine Utility-Classes</h3>
      <div class="mb-100">
        <span class="p1 t-c1-error">Text-Alignment:&nbsp;</span>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-left</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-center</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-right</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-justify</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-nowrap</pre></code>
        <code class="language-css wptd-copy"><pre class="language-css">t-truncate</pre></code>
      </div>
      <div class="mb-100">
        <span class="p1 t-c1-error">Text-Weight/Style:&nbsp;</span>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-normal</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-300</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-400</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-500</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-600</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-700</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-900</pre></code>
        <code class="language-css wptd-copy"><pre class="language-css">t-italic</pre></code>
      </div>
      <div class="mb-100">
        <span class="p1 t-c1-error">Text-Transformation:&nbsp;</span>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-lowercase</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-uppercase</pre></code>
        <code class="language-css wptd-copy"><pre class="language-css">t-capitalize</pre></code>
      </div>
    </div>

    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Überschrift 1 - Roboto</h3>
        <p class="h1 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">h1</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Überschrift 2 - Roboto</h3>
        <p class="h2 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">h2</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Überschrift 3 - Roboto</h3>
        <p class="h3 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">h3</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Überschrift 4 - Roboto</h3>
        <p class="h4 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">h4</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Überschrift 5 - Roboto</h3>
        <p class="h5 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">h5</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Überschrift 6 - Roboto</h3>
        <p class="h6 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">h6</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Fließtext 1 - Merriweather</h3>
        <p class="p1 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">p1</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Fließtext 2 - Merriweather</h3>
        <p class="p2 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">p2</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-0">
        <h3 class="t-c1-main">Fließtext 3 - Merriweather</h3>
        <p class="p3 t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <span class="p1 t-c1-error">Utility-Class:&nbsp;</span>
        <code class="language-css wptd-copy"><pre class="language-css">p3</pre></code>
      </div>
    </div>
  </div>
  <hr class="bd-c6-gray bd-top-1 mt-600 mt-md-800">
</div>

<div class="container container--narrow bg-c-white bd-radius-5 mb-600 mb-md-800">
  <div class="row">
    <div class="col col-12 mb-100">
      <h2 id="sg-font-options" class="t-c1-main">Schriftschnitte</h2>
      <p class="p1 t-c1-main">Wenn eine Schrift eigene Schnitte für die Auszeichnungen besitzt, werden die Auszeichnungen direkt über den Schirftschnitt vergeben, ansonsten werden die Auszeichnungen über CSS-Properties vergeben.</p>
    </div>
    <div class="col col-12 mb-200">
      <div class="mb-100">
        <span class="p1 t-c1-error">Beispiel Utility-Classes (eigener Schriftschnitt):&nbsp;</span>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">f1-main</pre></code>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">f2-second</pre></code>
      </div>
      <div class="mb-100">
        <span class="p1 t-c1-error">Beispiel Utility-Classes (CSS-Properties):&nbsp;</span>
        <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">t-weight-700</pre></code>
        <code class="language-css wptd-copy"><pre class="language-css">t-italic</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Font-Family - Roboto</h3>
        <h4 class="t-c1-main">Auszeichnung - bold</h4>
        <p class="f1-main t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog
        </p>
        <code class="language-css wptd-copy"><pre class="language-css">f1-main</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h4 class="t-c1-main">Auszeichnung - regular</h4>
        <p class="f2-main t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog
        </p>
        <code class="language-css wptd-copy"><pre class="language-css">f2-main</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="t-c1-main">Font-Family - Merriweather</h3>
        <h4 class="t-c1-main">Auszeichnung - regular</h4>
        <p class="f1-second t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog
        </p>
        <code class="language-css wptd-copy"><pre class="language-css">f1-second</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h4 class="t-c1-main">Auszeichnung - italic</h4>
        <p class="f2-second t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog
        </p>
        <code class="language-css wptd-copy"><pre class="language-css">f2-second</pre></code>
      </div>
    </div>
    <div class="col col-12">
      <div>
        <h4 class="t-c1-main">Auszeichnung - bold</h4>
        <p class="f3-second t-c1-main bg-c6-gray p-100 bd-radius-5">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog
        </p>
        <code class="language-css wptd-copy"><pre class="language-css">f3-second</pre></code>
      </div>
    </div>
  </div>
  <hr class="bd-c6-gray bd-top-1 mt-600 mt-md-800">
</div>
