{# links light #}
<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
   <div class="row mb-200">
      <div class="col-12">
         <h2 id="sg-links" class="h1 t-c1-main">Links</h2>
         <p class="p1 t-c1-main">Hier werden alle Links auf hellem Hintergrund definiert.</p>
      </div>
   </div>
   {# links main #}
   {# <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-third">links - main</h3>
      </div>
   </div> #}
   <div class="row">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3 mb-300">
         <div class="mb-50">
            <a class="link link-main link1-main" href="#">link text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">link link-main link1-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="link link-second link1-second" href="#">link text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">link link-second link1-second</pre></code>
         </div>
      </div>
   </div>
</div>

{# links dark #}
<div class="container container--narrow bg-c1-main bd-radius-5 mb-300 px-400 py-200">
   <div class="row mb-200">
      <div class="col-12">
         <h2 class="h1 t-c3-main">Links</h2>
         <p class="p1 t-c-white">Hier werden alle Links auf dunklem Hintergrund definiert.</p>
      </div>
   </div>
   {# links second #}
   {# <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-third">links - second</h3>
      </div>
   </div> #}
   <div class="row">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="link link-main link2-main" href="#">link text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">link link-main link2-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="link link-second link2-second" href="#">link text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">link link-second link2-second</pre></code>
         </div>
      </div>
   </div>
</div>
