{# buttons - light #}
<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
   <div class="row mb-200">
      <div class="col-12">
         <h2 id="sg-buttons" class="h1 t-c1-main">Buttons</h2>
         <p class="p1 t-c1-main">Hier werden alle Buttons auf hellem Hintergrund definiert.</p>
      </div>
   </div>
   {# buttons main #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-main">Primär</h3>
      </div>
   </div>
   <div class="row mb-300">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn1-main" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn2-main" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn2-main</pre></code>
         </div>
      </div>
   </div>
   {# buttons second #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-main">Sekundär</h3>
      </div>
   </div>
   <div class="row">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn1-second" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-second</pre></code>
         </div>
      </div>
   </div>
</div>

{# buttons - dark #}
<div class="container container--narrow bg-c1-main bd-radius-5 mb-300 px-400 py-200">
   <div class="row mb-200">
      <div class="col-12">
         <h2 id="sg-buttons" class="h1 t-c3-main">Buttons</h2>
         <p class="p1 t-c-white">Hier werden alle Buttons auf dunklem Hintergrund definiert.</p>
      </div>
   </div>
   {# buttons main #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c-white">Primär</h3>
      </div>
   </div>
   <div class="row mb-300">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn3-main" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn3-main</pre></code>
         </div>
      </div>
   </div>
   {# buttons second #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c-white">Sekundär</h3>
      </div>
   </div>
   <div class="row">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn2-second" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn2-second</pre></code>
         </div>
      </div>
   </div>
</div>

{# buttons - varianten #}
<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
   <div class="row">
      <div class="col-12">
         <h2 class="h1 t-c1-main">Buttons</h2>
      </div>
   </div>
   {# buttons sizes #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-main">Größen</h3>
      </div>
   </div>
   <div class="row mb-200">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn1-main btn--small" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-main btn--small</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn1-main" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn1-main btn--large" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-main btn--large</pre></code>
         </div>
      </div>
   </div>
   {# buttons specials #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-main">Varianten</h3>
      </div>
   </div>
   <div class="row">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <a class="btn btn1-main btn--block" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-main btn--block</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50">
            <btn class="btn btn--disabled">button text</btn>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn--disabled</pre></code>
         </div>
      </div>
   </div>
</div>
