<div class="container container--narrow bg-c-white bd-radius-5 mb-600 mb-md-800">
   <div class="row mb-200">
      <div class="col-12">
         <h2 id="sg-buttons" class="t-c1-main">Buttons</h2>
         <p class="p1 t-c1-main">Hier werden alle Buttons definiert.</p>
      </div>
   </div>

   {# buttons main #}
   <div class="row">
      <div class="col col-12">
         <h3 class="t-c1-main">Primär</h3>
      </div>
   </div>
   <div class="row mb-300 t-center">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <a class="btn btn1-main" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <a class="btn btn2-main" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn2-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <btn class="btn btn-main btn-main-disabled">button text</btn>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn-main btn-main-disabled</pre></code>
         </div>
      </div>
   </div>
   <div class="row mb-300 t-center">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="bg-c1-main mb-50 py-200">
            <a class="btn btn1-main" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-main</pre></code>
         </div>
      </div>
   </div>

   {# buttons second #}
   <div class="row">
      <div class="col col-12">
         <h3 class="t-c1-main">Sekundär</h3>
      </div>
   </div>
   <div class="row mb-300 t-center">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <a class="btn btn1-second" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-second</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <a class="btn btn2-second" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn2-second</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <btn class="btn btn-second btn-second-disabled">button text</btn>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn-second btn-second-disabled</pre></code>
         </div>
      </div>
   </div>
   <div class="row mb-300 t-center">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="bg-c1-main mb-50 py-200">
            <a class="btn btn1-second" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn btn1-second</pre></code>
         </div>
      </div>
   </div>

   {# specials #}
   <div class="row">
      <div class="col col-12">
         <h3 class="t-c1-main">Varianten</h3>
         <p class="p1 t-c1-main">Diese Varianten können für alle Button-Typen verwendet werden.</p>
      </div>
   </div>
   <div class="row t-center">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <a class="btn btn1-main btn--block" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn--block</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <a class="btn btn1-main btn--small" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn--small</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <a class="btn btn1-main btn--large" href="#">button text</a>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">btn--large</pre></code>
         </div>
      </div>
   </div>
  <hr class="bd-c6-gray bd-top-1 mt-600 mt-md-800">
</div>
