<div class="container container--narrow bg-c-white bd-radius-4 mb-300 px-400 py-200">
   <div class="row mb-200">
      <div class="col-12">
         <h2 id="sg-labels" class="h1 h1 t-c1-main">Labels</h2>
         <p class="p1 t-c1-main">Hier werden alle Labels definiert.</p>
      </div>
   </div>

   {# labels main #}
   <div class="row">
      <div class="col col-12">
         <h3 class="h3 f3-second t-c1-main">Primär</h3>
      </div>
   </div>
   <div class="row mb-300 t-center">
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <span class="label label-main label1-main">label text</span>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">label label-main label1-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200 bg-c1-gray">
            <span class="label label-main label2-main">label text</span>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">label label-main label2-main</pre></code>
         </div>
      </div>
      <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="mb-50 py-200">
            <span class="label label-main label3-main">label text</span>
         </div>
         <div>
            <code class="language-css wptd-copy"><pre class="language-css">label label-main label3-main</pre></code>
         </div>
      </div>
   </div>
</div>
