{# buttons #}
<div class="container container--narrow bg-c-white bd-radius-5 mb-600 mb-md-800">
   <div class="row">
      <div class="col-12">
         <h2 id="sg-form-cf7" class="t-c1-main">Form Elements CF7</h2>
      </div>
   </div>
   {{ fn('do_shortcode', '[contact-form-7 id="124" title="Kontakt"]') }}
  <hr class="bd-c6-gray bd-top-1 mt-600 mt-md-800">
</div>
