<div class="container container--narrow bg-c-white bd-radius-5 mb-300 px-400 py-200">
  <div class="row">
    <div class="col col-12">
      <div class="mb-300">
         <h2 id="sg-helper" class="h1 t-c1-main">Hilfsklassen</h2>
         <p class="p1 t-c1-main">Hier folgt eine Übersicht aller Utility-Classes, die benutzbar sind und bisher noch nicht aufgelistet wurden.</p>
      </div>
      <div class="mb-300">
         <h3 class="h2 f3-second t-c1-main mb-150">Border</h3>
         <div class="mb-100">
            <p class="p1 t-c1-main">Das Zahlen-Suffix ist der Border-Radius in "px"</p>
            <span class="p1 t-c1-error">Border-Radius:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-radius-3</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-radius-5</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-radius-round</pre></code>
         </div>
         <div class="mb-100">
            <p class="p1 t-c1-main">Es können alle Projektfarben verwendet werden.</p>
            <span class="p1 t-c1-error">Border-Color Beispiel:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-c1-main</pre></code>
         </div>
         <div class="mb-100">
            <p class="p1 t-c1-main">Das Zahlen-Suffix ist die Border-Width in "px". Damit die Border-Width verwendet werden kann muss eine Border-Color vergeben werden.</p>
            <span class="p1 t-c1-error">Border-Width:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-c1-main bd-all-1</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-c1-main bd-top-1</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-c1-main bd-right-1</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-c1-main bd-bottom-1</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">bd-c1-main bd-left-1</pre></code>
         </div>
      </div>

      <div class="mb-300">
         <h3 class="h2 f3-second t-c1-main mb-150">Position</h3>
         <div class="mb-100">
            <span class="p1 t-c1-error">Position-Klassen:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">position-static</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">position-relative</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">position-absolute</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">position-fixed</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">position-sticky</pre></code>
         </div>
      </div>

      <div class="mb-300">
         <h3 class="h2 f3-second t-c1-main mb-150">Display</h3>
         <p class="p1 t-c1-main mb-100">Die Display-Klassen können mit allen Breakpoints verwendet werden z.B. <code class="language-css wptd-copy">d-md-block</code></p>
         <div class="mb-100">
            <span class="p1 t-c1-error">Display-Klassen:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-none</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-inline</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-inline-block</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-block</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-flex</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-inline-flex</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-table</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-table-row</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">d-table-cell</pre></code>
         </div>
      </div>

      <div class="mb-300">
         <h3 class="h2 f3-second t-c1-main mb-150">Flexbox</h3>
         <p class="p1 t-c1-main mb-100">Die Flexbox-Klassen können mit allen Breakpoints verwendet werden z.B. <code class="language-css wptd-copy">align-items-md-center </code></p>
         <div class="mb-100">
            <span class="p1 t-c1-error">Flex-Direction:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">flex-row</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">flex-column</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">flex-row-reverse</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">flex-column-reverse</pre></code>
         </div>

         <div class="mb-100">
            <span class="p1 t-c1-error">Flex-Wrap:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">flex-wrap</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">flex-nowrap</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">flex-wrap-reverse</pre></code>
         </div>

         <div class="mb-100">
            <span class="p1 t-c1-error">Justify-Content:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">justify-content-start</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">justify-content-end</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">justify-content-center</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">justify-content-between</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">justify-content-around</pre></code>
         </div>

         <div class="mb-100">
            <span class="p1 t-c1-error">Align-Items:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-items-start</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-items-end</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-items-center</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-items-baseline</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-items-stretch</pre></code>
         </div>

         <div class="mb-100">
            <span class="p1 t-c1-error">Align-Content:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-content-start</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-content-end</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-content-center</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-content-between</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-content-around</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-content-stretch</pre></code>
         </div>

         <div class="mb-100">
            <span class="p1 t-c1-error">Align-Self:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-self-auto</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-self-start</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-self-end</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-self-center</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-self-baseline</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">align-self-stretch</pre></code>
         </div>
      </div>

      <div class="mb-300">
         <h3 class="h2 f3-second t-c1-main mb-150">Float</h3>
         <div class="mb-100">
            <span class="p1 t-c1-error">Display-Klassen:&nbsp;</span>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">float-left</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">float-right</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">float-none</pre></code>
         </div>
      </div>

      <div class="mb-300">
         <h3 class="h2 f3-second t-c1-main mb-150">Visibility</h3>
         <div class="mb-100">
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">visible</pre></code>
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">invisible</pre></code>
         </div>
      </div>

      <div class="mb-300">
         <h3 class="h2 f3-second t-c1-main mb-150">Clearfix</h3>
         <div class="mb-100">
            <code class="language-css wptd-copy mr-50 mb-50"><pre class="language-css">Clearfix</pre></code>
         </div>
      </div>
    </div>
  </div>
</div>



