<div class="container bg-c-white sp-md pt-3">
  <div class="row">
    <div class="col-12">
      <h2 class="f1-third text-c4-main">Colors</h2>
    </div>
    <div class="col col-3">
      <div class="pa-2">
        <span class="color-field bg-c1-main"></span>
      </div>
    </div>
    <div class="col col-3">
      <div class="pa-2">
        <span class="color-field bg-c2-main"></span>
      </div>
    </div>
    <div class="col col-3">
      <div class="pa-2">
        <span class="color-field bg-c3-main"></span>
      </div>
    </div>
    <div class="col col-3">
      <div class="pa-2">
        <span class="color-field bg-c3-main"></span>
      </div>
    </div>
  </div>
</div>

