<div class="container bg-c-white mb-300 p-200">
  <div class="row">
    <div class="col-12">
      <h2 class="f1-main t-c1-main t-uppercase">Colors</h2>
    </div>
  </div>

  <h3 class="f1-second fs-2 t-c1-main d-block">main-colors</h3>
  <div class="row mb-200">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c1-main bd-radius-5"></span>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c2-main bd-radius-5"></span>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c3-main bd-radius-5"></span>
      </div>
    </div>
  </div>

  <h3 class="f1-second fs-2 t-c1-main d-block">second-colors</h3>
  <div class="row mb-200">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c1-second bd-radius-5"></span>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c2-second bd-radius-5"></span>
      </div>
    </div>
  </div>

  <h3 class="f1-second fs-2 t-c1-main d-block">third-colors</h3>
  <div class="row mb-200">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c1-third bd-radius-5"></span>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c2-third bd-radius-5"></span>
      </div>
    </div>
  </div>

  <h3 class="f1-second fs-2 t-c1-main d-block">specials-colors</h3>
  <div class="row mb-200">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c1-success bd-radius-5"></span>
      </div>
    </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 pb-100">
      <div class="pa-200">
        <span class="color-field bg-c1-error bd-radius-5"></span>
      </div>
    </div>
  </div>

</div>

