<div class="container sp-md">
  <div class="row">
    <div class="col-12">
      <h2 class="f1-third text-c-white">Fonts</h2>
    </div>
    <div class="col col-12 col-md-6">
      <div class="mb-3">
        <h3 class="f1-main text-c3-second">Font Instalove: Progressively integrate 2.0 e-services and adaptive technology.</h3>
        <p class="f1-main bg-c3-second">Progressively integrate 2.0 e-services and adaptive technology.
          Appropriately conceptualize focused materials via inexpensive quality vectors.
          Globally scale unique partnerships via economically sound materials.
        </p>
      </div>
    </div>
    <div class="col col-12 col-md-6">
      <div class="mb-3">
        <h3 class="f1-second">Font Instalove: Progressively integrate 2.0 e-services and adaptive technology.</h3>
        <p class="f1-second">Progressively integrate 2.0 e-services and adaptive technology.
          Appropriately conceptualize focused materials via inexpensive quality vectors.
          Globally scale unique partnerships via economically sound materials.
        </p>
      </div>
    </div>
    <div class="col col-12 col-md-6">
      <div class="mb-3">
        <h3 class="f1-third">Font Instalove: Progressively integrate 2.0 e-services and adaptive technology.</h3>
        <p class="f1-third">Progressively integrate 2.0 e-services and adaptive technology.
          Appropriately conceptualize focused materials via inexpensive quality vectors.
          Globally scale unique partnerships via economically sound materials.
        </p>
      </div>
    </div>
    <div class="col col-12 col-md-6">
      <div class="mb-3">
        <h3 class="f1-fourth">Font Instalove: Progressively integrate 2.0 e-services and adaptive technology.</h3>
        <p class="f1-fourth">Progressively integrate 2.0 e-services and adaptive technology.
          Appropriately conceptualize focused materials via inexpensive quality vectors.
          Globally scale unique partnerships via economically sound materials.
        </p>
      </div>
    </div>
  </div>
</div>

