<div class="container sp-md">
  <div class="row">
    <div class="col-12">
      <h2 class="f1-main t-c-white t-uppercase">Fonts</h2>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="f1-second fs-2 t-c1-second">f1-main/fs-1</h3>
        <p class="f1-main fs-1 bg-c3-second t-uppercase">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="f1-second fs-2 t-c1-second">f1-second/fs-2</h3>
        <p class="f1-second fs-2">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="f1-second fs-2 t-c1-second">f2-second/fs-3</h3>
        <p class="f2-second fs-3">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="f1-second fs-2 t-c1-second">f3-second/fs-4</h3>
        <p class="f3-second fs-4">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-300">
        <h3 class="f1-second fs-2 t-c1-second">f4-second/fs-5</h3>
        <p class="f4-second fs-5">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
    <div class="col col-12">
      <div class="mb-0">
        <h3 class="f1-second fs-2 t-c1-second">f1-second/fs-6</h3>
        <p class="f1-second fs-6">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen.
        </p>
      </div>
    </div>
  </div>
</div>

