.l_comments {
    margin: 2rem 0;

    @include media-breakpoint-up(sm) {
        margin: 4rem 0 3rem;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    .depth-1 #respond {
        @include media-breakpoint-up(sm) {
            margin-left: 4rem;
        }

        @include media-breakpoint-up(md) {
            position: relative;
        }

        .cancel-comment-reply {
            text-align: right;
            margin-bottom: 0.5rem;
        }

        #cancel-comment-reply-link {
            @include fontstyle(
                "fs2-second",
            );
            transition: color 0.2s ease-out;
            color: $c3-main;

            &:hover {
                @include media-breakpoint-up(md) {
                    color: $c-black;
                }
            }
        }
    }
}

.logged-in {
    .l_comments {

        .depth-1 #respond {
            .cancel-comment-reply {

                @include media-breakpoint-up(md) {
                    display: inline-block;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}
