.l_styleguide {

   .color-field {
      display: block;
      width: 100px;
      height: 100px;
   }
}

// scale copied text
.wptd-copy {
   cursor: pointer;
 }

.wptd-copied {
   transition: transform 0.15s ease-in-out;
   transform: scale(1.1);
 }
