.b_btn,
a.b_btn {
   cursor: pointer;
   transition: 0.15s ease-in-out;
   display: inline-block;
   margin-top: 1rem;
   padding: 0.5rem 1rem;
   border: 0;
   border-radius: $bd-radius-3;

   &--primary {
      background-color: $c1-third;
      color: $c-white;

      &:hover {
         @include media-breakpoint-up(md) {
            background-color: $c2-third;
            text-decoration: none;
         }
      }
   }

   &--secondary {
      background-color: $c1-main;
      color: $c-white;

      &:hover {
         @include media-breakpoint-up(md) {
            background-color: $c2-main;
            text-decoration: none;
         }
      }
   }
}
