.btn,
a.btn {
   cursor: pointer;
   transition: $transition-150 ease-in-out;
   display: inline-block;
   padding: 0.5em 1em;
   border: 0;
   border-radius: $bd-radius-3;
   font-family: $f3-second;
   font-size: 1rem;
   line-height: 1.5em;

   &--small {
      font-size: 0.8rem;
   }

   &--large {
      font-size: 1rem;

      @include media-breakpoint-up(md) {
         font-size: 1.3rem;
      }
   }

   &--block {
      display: block;
      text-align: center;
   }

   &:focus {
      @include media-breakpoint-up(md) {
         outline: 0;
         box-shadow: 0 0 0 0.2rem rgba($c1-accent, 0.5);
      }
   }

   // main buttons
   &1-main {
      background-color: $c1-third;
      color: $c-white;

      &:hover {
         @include media-breakpoint-up(md) {
            background-color: $c3-third;
         }
      }
   }
   &2-main {
      background-color: $c1-main;
      color: $c-white;

      &:hover {
         @include media-breakpoint-up(md) {
            background-color: $c3-main;
         }
      }
   }
   &3-main {
      background-color: $c1-second;
      color: $c1-main;

      &:hover {
         @include media-breakpoint-up(md) {
            background-color: $c1-third;
            color: $c-white;
         }
      }
   }
   &-main-disabled {
      cursor: auto;
      background-color: $c1-gray;
      color: darken($c1-gray, 15%);
   }

   // second buttons
   &1-second {
      background-color: transparent;
      border: 2px solid $c1-third;
      color: $c1-third;

      &:hover {
         @include media-breakpoint-up(md) {
            border: 2px solid $c1-main;
            color: $c1-main;
         }
      }
   }
   &2-second {
      background-color: transparent;
      border: 2px solid $c1-main;
      color: $c1-main;

      &:hover {
         @include media-breakpoint-up(md) {
            border: 2px solid $c3-main;
            color: $c3-main;
         }
      }
   }
   &3-second {
      background-color: transparent;
      border: 2px solid $c1-second;
      color: $c1-second;

      &:hover {
         @include media-breakpoint-up(md) {
            border: 2px solid $c1-third;
            color: $c1-third;
         }
      }
   }
   &-second-disabled {
      cursor: auto;
      background-color: transparent;
      border: 2px solid $c1-gray;
      color: darken($c1-gray, 15%);
   }
}
