html {
   font-size: 16px;
   line-height: 1.4em;
   box-sizing: border-box;
   -ms-overflow-style: scrollbar;
}

body {
   position: relative;
   color: $c-white;
   background-color: $c2-main;
   overflow-x: hidden;

   @include fontstyle($style: "third-01");

   &.no-scroll {
      overflow: hidden;
   }

   &:after {
      content: "xs";
      display: inline-block;
      background: $c1-third;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 100;
      width: 50px;
      padding: 0.5rem 0.7rem;
      text-align: center;
      color: $c-white;

      @include media-breakpoint-up(sm) {
         content: "sm";
      }
      @include media-breakpoint-up(md) {
         content: "md";
      }
      @include media-breakpoint-up(lg) {
         content: "lg";
      }
      @include media-breakpoint-up(xl) {
         content: "xl";
      }
   }
}

@-ms-viewport {
   width: device-width;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

::selection {
   background: $c1-accent;
   text-shadow: none;
}

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid $c11-grey;
   margin: 1em 0;
   padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

address {
   font-style: normal;
}
