html {
   font-size: 16px;
   line-height: 1.4em;
   box-sizing: border-box;
   -ms-overflow-style: scrollbar;
}

body {
   position: relative;
   color: $c-white;
   background-color: $c2-main;
   overflow-x: hidden;

   @include fontstyle("fs5");
   font-family: $f1-second;

   &.no-scroll {
      overflow: hidden;
   }
}

@-ms-viewport {
   width: device-width;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

::selection {
   background: $c1-accent;
   text-shadow: none;
}

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid $c1-gray;
   margin: 1rem 0;
   padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

address {
   font-style: normal;
}

input,
select,
.choices,
textarea,
a,
button {
   &:focus {
      border-color: $c1-accent;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba($c1-accent, 0.5);
      border-radius: $bd-radius-3;
   }
}

ul,
ol {
   padding-left: 0;
   list-style: none;
}

a {
   color: inherit;
   text-decoration: none;

   &:visited {
      color: inherit;
   }
   &:hover {
      color: inherit;
      text-decoration: none;
   }
   &:focus {
      color: inherit;
   }
   &:active {
      color: inherit;
   }
}
