/******************************************************************

    BASE: HELPERS
        > FILEPATH
        > OVERFLOW

******************************************************************/

/******************************************************************
    FILEPATH
******************************************************************/

.h-file-path {
   color: $c1-hint;
   font-family: "Consolas";
   text-align: left;
   margin: 0 0 1em;

   &--highlight {
      font-weight: 700;
   }
}

/******************************************************************
    OVERFLOW
******************************************************************/

.h {
   &-overflow-hidden {
      overflow: hidden !important;
   }

   &-overflow-visible {
      overflow: visible !important;
   }
}
