ul,
ol {
   margin: 1rem 0 1.5rem;
   padding-left: 0;
}

ul {
   list-style: none;

   li {
      position: relative;
      padding-left: 1.5rem;
      @include fontstyle(
         "fs1-second",
         $color: $c-white,
         $mb-a: 0.2em,
      );

      &:before {
         content: "\2022";
         position: absolute;
         top: 0;
         left: 0;
         font-size: 1.5rem;
         color: $c-white;
      }
   }
}
