a.link {
   transition: color $transition-150 ease-in-out;

   &-main {
      text-decoration: underline;
   }
   &1-main {
      &:link {
         color: $c1-main;
      }
      &:visited {
         color: $c1-main;
      }
      &:hover {
         @include media-breakpoint-up(md) {
            color: $c1-third;
         }
      }
      &:active {
         color: $c1-main;
      }
   }
   &2-main {
      &:link {
         color: $c-white;
      }
      &:visited {
         color: $c-white;
      }
      &:hover {
         @include media-breakpoint-up(md) {
            color: $c1-second;
         }
      }
      &:active {
         color: $c-white;
      }
   }

   &-second {
      text-decoration: underline;
      text-decoration-style: dotted;
   }
   &1-second {
      &:link {
         color: $c1-main;
      }
      &:visited {
         color: $c1-main;
      }
      &:hover {
         @include media-breakpoint-up(md) {
            color: $c1-third;
         }
      }
      &:active {
         color: $c1-main;
      }
   }
   &2-second {
      &:link {
         color: $c-white;
      }
      &:visited {
         color: $c-white;
      }
      &:hover {
         @include media-breakpoint-up(md) {
            color: $c1-second;
         }
      }
      &:active {
         color: $c-white;
      }
   }
}

// comments
a.comment-reply-link,
a#cancel-comment-reply-link {
   transition: color $transition-150 ease-in-out;

   &:link {
      color: $c-white;
      text-decoration: underline;
   }
   &:visited {
      color: $c-white;
   }
   &:hover {
      @include media-breakpoint-up(md) {
         color: $c1-third;
      }
   }
   &:active {
      color: $c-white;
   }
}
