h1,
h2,
h3,
h4,
h5 {
   font-family: $f1-second;
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 0;
}

h1 {
   @include fontstyle("fs1-main");
}

h2 {
   @include fontstyle("fs1-second");
}

h3,
h4,
h5 {
   @include fontstyle("fs1-second");
}

p {
   @include fontstyle("fs1-second");
   font-weight: normal;
   margin-top: 0;
   margin-bottom: 0.5em;

   em {
      font-style: italic;
   }

   strong {
      font-weight: normal;
   }

   /* Hyphens: http://clagnut.com/blog/2395 */
   -webkit-hyphens: auto;
   -webkit-hyphenate-limit-before: 3;
   -webkit-hyphenate-limit-after: 3;
   -webkit-hyphenate-limit-chars: 6 4 4;
   -webkit-hyphenate-limit-lines: 2;
   -webkit-hyphenate-limit-last: always;
   -webkit-hyphenate-limit-zone: 8%;

   -moz-hyphens: auto;
   -moz-hyphenate-limit-chars: 6 4 4;
   -moz-hyphenate-limit-lines: 2;
   -moz-hyphenate-limit-last: always;
   -moz-hyphenate-limit-zone: 8%;

   -ms-hyphens: auto;
   -ms-hyphenate-limit-chars: 6 4 4;
   -ms-hyphenate-limit-lines: 2;
   -ms-hyphenate-limit-last: always;
   -ms-hyphenate-limit-zone: 8%;

   hyphens: auto;
   hyphenate-limit-chars: 6 4 4;
   hyphenate-limit-lines: 2;
   hyphenate-limit-last: always;
   hyphenate-limit-zone: 8%;
}

.heading-1 {
   @include fontstyle("fs1-main");
   text-transform: uppercase;
}

.heading-2 {
   @include fontstyle("fs2-main");
   text-transform: uppercase;
}
.heading-3 {
   @include fontstyle("main-03");
   text-transform: uppercase;
}
