h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-weight: normal;
   margin-top: 0;
   margin-bottom: 0;
}

h1,
.h1 {
   @include fontstyle("fs1");
   font-family: $f1-main;
   text-transform: uppercase;
   margin-bottom: 0.5em;
}

h2,
.h2 {
   @include fontstyle("fs2");
   font-family: $f1-main;
   margin-bottom: 0.5em;
}

h3,
.h3 {
   @include fontstyle("fs3");
   font-family: $f2-main;
   margin-bottom: 0.5em;
}

h4,
.h4 {
   @include fontstyle("fs4");
   font-family: $f2-main;
   margin-bottom: 0.5em;
}

h5,
.h5 {
   @include fontstyle("fs5");
   font-family: $f2-main;
   margin-bottom: 0.5em;
}

.p1 {
   @include fontstyle("fs5");
   font-family: $f1-second;
   margin-bottom: 1em;
}

.p2 {
   @include fontstyle("fs6");
   font-family: $f1-second;
   margin-bottom: 1em;
}

p {
   @include fontstyle("fs5");
   font-family: $f1-second;
   margin-bottom: 1em;

   em {
      font-family: $f2-second;
      // font-style: italic;
   }

   strong {
      font-family: $f3-second;
      // font-weight: bold;
   }

   /* Hyphens: http://clagnut.com/blog/2395 */
   -webkit-hyphens: auto;
   -webkit-hyphenate-limit-before: 3;
   -webkit-hyphenate-limit-after: 3;
   -webkit-hyphenate-limit-chars: 6 4 4;
   -webkit-hyphenate-limit-lines: 2;
   -webkit-hyphenate-limit-last: always;
   -webkit-hyphenate-limit-zone: 8%;

   -moz-hyphens: auto;
   -moz-hyphenate-limit-chars: 6 4 4;
   -moz-hyphenate-limit-lines: 2;
   -moz-hyphenate-limit-last: always;
   -moz-hyphenate-limit-zone: 8%;

   -ms-hyphens: auto;
   -ms-hyphenate-limit-chars: 6 4 4;
   -ms-hyphenate-limit-lines: 2;
   -ms-hyphenate-limit-last: always;
   -ms-hyphenate-limit-zone: 8%;

   hyphens: auto;
   hyphenate-limit-chars: 6 4 4;
   hyphenate-limit-lines: 2;
   hyphenate-limit-last: always;
   hyphenate-limit-zone: 8%;
}

