{# USES
   {% include "/partials/builder/bld_heading.twig" with {
      space_bottom: '',
      heading: '',
   } %}
#}
<div class="container {{ space_bottom }}">
   <div class="bld_heading">
      <h2>{{ heading }}</h2>
   </div>
</div>
