{# USES
   {% include "/partials/builder/bld_quote.twig" with {
      space_bottom: '',
      quote: '',
      author: '',
   } %}
#}
<div class="container {{ space_bottom }}">
   <div class="bld_quote">
      <blockquote class="bld_quote__text">{{ quote }}</blockquote>
      {% if author %}
      <p class="h4 mb-0">{{ author }}</p>
      {% endif %}
   </div>
</div>
