{# USES
   {% include "/partials/builder/bl_editor.twig" with {
      space_bottom: '',
      editor: '',
   } %}
#}

<div class="container container--narrow {{ space_bottom }}">
   <div class="bld_editor tinymce">{{ editor }}</div>
</div>
