/******************************************************************

    SETTINGS: FONTS

    USAGE:
    @include fontstyle(
        $style: false,
        $scale: 1,
        $lh-a: false,
        $fz-xs: false,
        $lh-xs: false,
        $fz-sm: false,
        $lh-sm: false,
        $fz-md: false,
        $lh-md: false,
        $fz-lg: false,
        $lh-lg: false,
        $fz-xl: false,
        $lh-xl: false
    );

    USAGE SHORT:
    @include fontstyle("fs1-main");

******************************************************************/

@mixin fontstyle(
   $style: false,
   $scale: 1,
   $lh-a: false,
   $fz-xs: false,
   $lh-xs: false,
   $fz-sm: false,
   $lh-sm: false,
   $fz-md: false,
   $lh-md: false,
   $fz-lg: false,
   $lh-lg: false,
   $fz-xl: false,
   $lh-xl: false
) {
   //base
   $fz-xs-default: 1rem;
   $lh-xs-default: 1.4em;
   //small
   $fz-sm-default: 1rem;
   $lh-sm-default: 1.4em;
   //medium
   $fz-md-default: 1rem;
   $lh-md-default: 1.4em;
   //large
   $fz-lg-default: 1rem;
   $lh-lg-default: 1.4em;
   //xlarge
   $fz-xl-default: 1rem;
   $lh-xl-default: 1.4em;

   // Default Use Case: H1
   @if $style == "fs1" {
      //base
      $fz-xs-default: 2.2rem;
      $lh-xs-default: 1.2em;

      //small
      $fz-sm-default: 2.2rem;
      $lh-sm-default: 1.2em;

      //medium
      $fz-md-default: 2.2rem;
      $lh-md-default: 1.2em;

      //large
      $fz-lg-default: 2.4rem;
      $lh-lg-default: 1.2em;

      //xlarge
      $fz-xl-default: 2.4rem;
      $lh-xl-default: 1.2em;


   // Default Use Case: H2
   } @else if $style == "fs2" {
      //base
      $fz-xs-default: 1.6rem;
      $lh-xs-default: 1.2em;

      //small
      $fz-sm-default: 1.6rem;
      $lh-sm-default: 1.2em;

      //medium
      $fz-md-default: 1.6rem;
      $lh-md-default: 1.2em;

      //large
      $fz-lg-default: 1.8rem;
      $lh-lg-default: 1.2em;

      //xlarge
      $fz-xl-default: 1.8rem;
      $lh-xl-default: 1.2em;


   // Default Use Case: H3
   } @else if $style == "fs3" {
      //base
      $fz-xs-default: 1.4rem;
      $lh-xs-default: 1em;

      //small
      $fz-sm-default: 1.4rem;
      $lh-sm-default: 1em;

      //medium
      $fz-md-default: 1.4rem;
      $lh-md-default: 1em;

      //large
      $fz-lg-default: 1.5rem;
      $lh-lg-default: 1em;

      //xlarge
      $fz-xl-default: 1.5rem;
      $lh-xl-default: 1em;


   // Default Use Case: H4
   } @else if $style == "fs4" {
      //base
      $fz-xs-default: 1.3rem;
      $lh-xs-default: 1em;
      //small
      $fz-sm-default: 1.3rem;
      $lh-sm-default: 1em;
      //medium
      $fz-md-default: 1.3rem;
      $lh-md-default: 1em;
      //large
      $fz-lg-default: 1.4rem;
      $lh-lg-default: 1em;
      //xlarge
      $fz-xl-default: 1.4rem;
      $lh-xl-default: 1em;


   // Default Use Case: Body
   } @else if $style == "fs5" {
      //base
      $fz-xs-default: 1.1rem;
      $lh-xs-default: 1.5em;
      //small
      $fz-sm-default: 1.1rem;
      $lh-sm-default: 1.5em;
      //medium
      $fz-md-default: 1.1rem;
      $lh-md-default: 1.5em;
      //large
      $fz-lg-default: 1.2rem;
      $lh-lg-default: 1.5em;
      //xlarge
      $fz-xl-default: 1.2rem;
      $lh-xl-default: 1.5em;

   // Default Use Case: Body small
   } @else if $style == "fs6" {
      //base
      $fz-xs-default: 0.95rem;
      $lh-xs-default: 1.2em;
      //small
      $fz-sm-default: 0.95rem;
      $lh-sm-default: 1.2em;
      //medium
      $fz-md-default: 0.95rem;
      $lh-md-default: 1.2em;
      //large
      $fz-lg-default: 1.05rem;
      $lh-lg-default: 1.2em;
      //xlarge
      $fz-xl-default: 1.05rem;
      $lh-xl-default: 1.2em;
   }

   @if $fz-xs {
      font-size: $fz-xs * $scale;
   } @else {
      font-size: $fz-xs-default * $scale;
   }
   @if $lh-a {
      line-height: $lh-a;
   } @else if $lh-xs {
      line-height: $lh-xs;
   } @else {
      line-height: $lh-xs-default;
   }

   @include media-breakpoint-up(sm) {
      @if $fz-sm {
         font-size: $fz-sm * $scale;
      } @else {
         font-size: $fz-sm-default * $scale;
      }
      @if $lh-a {
         line-height: $lh-a;
      } @else if $lh-sm {
         line-height: $lh-sm;
      } @else {
         line-height: $lh-sm-default;
      }
   }

   @include media-breakpoint-up(md) {
      @if $fz-md {
         font-size: $fz-md * $scale;
      } @else {
         font-size: $fz-md-default * $scale;
      }
      @if $lh-a {
         line-height: $lh-a;
      } @else if $lh-md {
         line-height: $lh-md;
      } @else {
         line-height: $lh-md-default;
      }
   }

   @include media-breakpoint-up(lg) {
      @if $fz-lg {
         font-size: $fz-lg * $scale;
      } @else {
         font-size: $fz-lg-default * $scale;
      }
      @if $lh-a {
         line-height: $lh-a;
      } @else if $lh-lg {
         line-height: $lh-lg;
      } @else {
         line-height: $lh-lg-default;
      }
   }

   @include media-breakpoint-up(xl) {
      @if $fz-xl {
         font-size: $fz-xl * $scale;
      } @else {
         font-size: $fz-xl-default * $scale;
      }
      @if $lh-a {
         line-height: $lh-a;
      } @else if $lh-xl {
         line-height: $lh-xl;
      } @else {
         line-height: $lh-xl-default;
      }
   }
}
