{% set headline     = module.pb_headline_text %}
{% set space_bottom = module.pb_headline_margin %}


<div class="container {{ space_bottom }}">
    <div class="container__inner">
        <div class="module module-headline">
            <h2 class="heading-2">{{ headline }}</h2>
        </div>
    </div>
</div>
