{% set editor       = module.pb_editor_wysiwyg %}
{% set space_bottom = module.pb_editor_margin %}


<div class="container {{ space_bottom }}">
    <div class="container__inner">
        <div class="module module-editor tinymce">

            {{ editor }}

        </div>
    </div>
</div>
