/******************************************************************
	COLORS
******************************************************************/
/******************************************************************
		FONTS
	******************************************************************/
/******************************************************************
		SPACERS
	******************************************************************/
/******************************************************************
		GRID
	******************************************************************/
/******************************************************************

    SETTINGS: FONTS

    USAGE:
    @include fontstyle(
        $style: false, $scale: 1,
        $family: false, $weight: false, $color: false,
        $fz-xs: false, $lh-xs: false, $mb-xs: false,
        $fz-sm: false, $lh-sm: false, $mb-sm: false,
        $fz-md: false, $lh-md: false, $mb-md: false,
        $fz-lg: false, $lh-lg: false, $mb-lg: false,
        $fz-xl: false, $lh-xl: false, $mb-xl: false
    );

    USAGE SHORT:
    @include fontstyle("main-01");

******************************************************************/
/******************************************************************

    SETTINGS: FONTS

    USAGE:
    @include fontstyle(
        $style: false, $scale: 1,
        $family: false, $weight: false, $color: false,
        $fz-xs: false, $lh-xs: false, $mb-xs: false,
        $fz-sm: false, $lh-sm: false, $mb-sm: false,
        $fz-md: false, $lh-md: false, $mb-md: false,
        $fz-lg: false, $lh-lg: false, $mb-lg: false,
        $fz-xl: false, $lh-xl: false, $mb-xl: false
    );

    USAGE SHORT:
    @include fontstyle("main-01");

******************************************************************/
body.login {
  background-color: #2c3e50;
}

body.login div, body.login p, body.login a, body.login label, body.login input {
  font-family: "KlavikaWeb", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

body.login a {
  transition: all 0.2s ease-in-out;
}

body.login #login {
  width: 95%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
}

body.login #login h1 a {
  background-image: url("../img/dreiqbik-logo-mobile.svg");
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

body.login form {
  background-color: #384d62;
  margin-top: 3em;
  padding: 3em;
}

body.login label[for=user_login], body.login label[for=user_pass], body.login label[for=rememberme] {
  color: #ffffff;
}

body.login label[for=user_login] input, body.login label[for=user_pass] input {
  padding: 10px;
  font-size: 18px;
}

body.login input[type=text], body.login input[type=password] {
  background: #ffffff;
}

body.login input[type=text], body.login input[type=password] {
  margin-top: 10px;
}

body.login .forgetmenot {
  margin-top: 20px;
  margin-bottom: 20px !important;
}

body.login .forgetmenot input[type=checkbox] {
  background: #ffffff;
}

body.login .forgetmenot input[type=checkbox]:checked {
  position: relative;
}

body.login .forgetmenot input[type=checkbox]:checked:before {
  content: "\f147";
  position: absolute;
  top: 0;
  left: 0;
  color: #ec764d;
}

body.login .submit .button {
  transition: all 0.2s ease-in-out;
  background: none;
  background-color: #ec764d;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-bottom: 5px solid #ea6436;
  border-radius: 5px;
  padding: 1em 2em;
  margin-top: 1em;
  width: 100%;
  height: auto;
  text-shadow: none;
  box-shadow: none;
  float: none;
}

body.login .submit .button:hover {
  outline: 0;
  background-color: #d96a44;
  border-bottom: 5px solid #ec764d;
}

body.login #nav a,
body.login #backtoblog a {
  color: #96a9bb;
}

body.login #nav a:link,
body.login #backtoblog a:link {
  color: #96a9bb;
}

body.login #nav a:visited,
body.login #backtoblog a:visited {
  color: #96a9bb;
}

body.login #nav a:hover,
body.login #backtoblog a:hover {
  color: #fff191;
}

body.login #nav a:active,
body.login #backtoblog a:active {
  color: #96a9bb;
}

body.login .message {
  margin-top: 3em;
  padding: 2em;
  border-left: 5px solid #fff191;
  background-color: #384d62;
  color: #ffffff;
  font-size: 0.9rem;
}

body.login #login_error {
  margin-top: 3em;
  padding: 2em;
  border-left: 5px solid #fff191;
  background-color: #384d62;
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

body.login #login_error strong {
  font-weight: 700;
}

body.login #login_error a {
  color: #96a9bb;
}

body.login #login_error a:link {
  color: #96a9bb;
}

body.login #login_error a:visited {
  color: #96a9bb;
}

body.login #login_error a:hover {
  color: #fff191;
}

body.login #login_error a:active {
  color: #96a9bb;
}

/*# sourceMappingURL=../../maps/style-login.css.map */
