<footer class="f_site">
   <div class="f_site__copy">
      <div class="f_site__block">
         <span class="f_site__date">&copy;{{"now"|date('Y')}}</span>
         <span>dreiQBIK GmbH</span>
         <span class="f_site__spacer">&nbsp;|&nbsp;</span>
      </div>
      <div class="f_site__block">
         {% if fn('is_front_page') %}
            <a class="f_site__link link link-second link2-second" href="/impressum/">Impressum</a>
         {% else %}
            {# TODO: add final project URL to attribute data-submit #}
            <span class="f_site__link link link-second link2-second prg-link" tabindex="0" data-submit="{{ 'https://dreiqbik.de/impressum/'|base64_encode }}">Impressum</span>
         {% endif %}
         <span class="f_site__spacer">&nbsp;|&nbsp;</span>
      </div>
      <div class="f_site__block">
         {% if fn('is_front_page') %}
            <a class="f_site__link link link-second link2-second" href="/datenschutz/">Datenschutzerklärung</a>
         {% else %}
            {# TODO: add final project URL to attribute data-submit #}
            <span class="f_site__link link link-second link2-second prg-link" tabindex="0" data-submit="{{ 'https://dreiqbik.de/datenschutz/'|base64_encode }}">Datenschutzerklärung</span>
         {% endif %}
      </div>
   </div>
</footer>
