<footer class="container f_site">
    <div class="container__inner container__inner--f_site">

        <div class="f_site__content">
            <div class="f_site__copy">
                <span>&copy; {{"now"|date('Y')}} | </span>
                <a class="f_site__link" href="https://dreiqbik.de" target="_blank">dreiQBIK</a>
            </div>
        </div>

    </div><!-- end container__inner -->
</footer>