.bld_image {

   &__figure {
      margin: 0;
      width: 100%;
      overflow: hidden;
      border-radius: $bd-radius-3;

      &.with-lightbox {
         cursor: zoom-in;
         position: relative;

         &:hover {
            .bld_image__zoom {
               @include media-breakpoint-up(md) {
                  background-color: $c1-main;
               }
            }
         }
      }
   }

   .bld_image__zoom,
   svg.bld_image__zoom {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: rgba($c-black, 0.5);
      color: $c-white;
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      transition: background-color $transition-150 ease-in;
   }

   &__img {
      width: 100%;
      height: auto;
      transition: transform $transition-150 ease-in;
   }

   &__caption {
      text-align: center;
      color: $c3-main;
      font-size: 1rem;
      line-height: 1.2rem;
      margin: 0.7rem 0;
   }
}
