.wpcf7 {
   margin: 0 auto !important;

   p {
      margin-bottom: 0;
   }

   br {
      display: none;
   }
}

.wpcf7-form {
   margin: 0 auto;

   &__row {
      margin-bottom: 28px;
   }

   &__input-wrapper {
      width: 100%;

      input,
      textarea {
         transition: $transition-150 ease-in-out;
         display: block;
         background-color: $c-white;
         width: 100%;
         height: 36px;
         padding: 0 1em;
         outline: none;
         border: 0;
         border-top: 2px solid $c1-gray;
         border-bottom: 2px solid $c1-gray;

         @include media-breakpoint-up(md) {
            height: 42px;
         }

         &:focus {
            border-color: $c1-third;
         }
         &:hover {
            border-color: $c1-third;
         }

         // placeholder
         &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $c1-gray;
         }
         &::-webkit-input-placeholder {
            color: $c1-gray;
         }
         &::-moz-placeholder {
            /* Firefox 19+ */
            color: $c1-gray;
         }
         &:-ms-input-placeholder {
            /* IE 10+ */
            color: $c1-gray;
         }
         &:-moz-placeholder {
            /* Firefox 18- */
            color: $c1-gray;
         }
      }

      textarea {
         min-height: 120px;
         padding-top: 1em;
         color: $c1-main;
      }

      // input date-picker
      input[type="date"] {
         padding-top: 0;
         padding-bottom: 0;
         padding-right: 0;

         &.valid {
            &::-webkit-datetime-edit-fields-wrapper {
               color: $c1-main;
               font-style: normal;
            }
         }

         // style date text
         &::-webkit-datetime-edit-fields-wrapper {
            margin-bottom: 0 !important;
            color: $c1-gray;
         }

         // pick date
         &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            color: $c1-third;
            height: 6px;
            padding-right: 0;
            padding: 22px 12px 21px 12px;
         }

         // increase/decrease date-day by one date
         &::-webkit-inner-spin-button {
            display: none;
         }

         // clear date
         &::-webkit-clear-button {
            display: none;
         }
      }

      // input number
      input[type="number"] {
         // increase/decrease date-day by one date
         &::-webkit-inner-spin-button {
            display: none;
         }
      }
   }

   &__submit {

      @include media-breakpoint-up(md) {
         padding-left: 5em;
         padding-right: 5em;
      }
   }

   *:focus {
      outline: none;
   }
}
