.wpcf7-form__checkbox-wrapper {
   .wpcf7-list-item {
      position: relative;
      display: inline-block;
      margin-left: 1em;

      @include media-breakpoint-up(md) {
         margin-left: 3em;
      }

      &.first {
         margin-left: 0;
      }

      &:hover {
         // label and visible checkbox
         .wpcf7-list-item-label {
            color: $c1-third;
         }
      }
   }

   // hidden input (checkbox) - interaction area
   input[type="checkbox"] {
      cursor: pointer;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      width: 100%;
      height: 30px;
      margin: 0;
      padding: 0;

      @include media-breakpoint-up(md) {
         height: 42px;
      }

      &:focus {
         + span:before {
            border-color: $c1-accent;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($c1-accent, 0.5);
            border-radius: $bd-radius-3;
         }
      }

      &:focus {
         + span:before {
            border-color: $c1-accent;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($c1-accent, 0.5);
            border-radius: $bd-radius-3;
         }
      }

      &:checked {
         // label and visible checkbox
         & + span.wpcf7-list-item-label {
            color: $c1-third;

            &:before {
               content: "\ea1b";
               display: inline-flex;
               align-items: center;
               justify-content: center;
               font: normal normal normal 1em/1 'Nucleo';
               speak: none;
               text-transform: none;
               /* Better Font Rendering */
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale;
               font-size: 1.2rem;
               font-weight: 700;
            }
         }
      }

      // label and visible checkbox
      & + span.wpcf7-list-item-label {
         transition: color $transition-150 ease-in-out;
         color: $c1-gray;

         &:before {
            content: "";
            transition: border-color $transition-150 ease-in-out;
            background: $c-white;
            display: inline-flex;
            align-items: center;
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border: 2px solid $c1-gray;
         }
      }
   }

   &.position-relative {
      margin-top: 2.5em;

      .fm-checkbox {

         @include media-breakpoint-up(md) {
            position: absolute;
            top: -9px;
            left: -60px;
         }
      }
   }
}
