.wpcf7-form {
   &__input-wrapper {
      input,
      textarea {
         &.wpcf7-not-valid,
         &.error {
            border-top: 2px solid $c1-error !important;
            border-bottom: 2px solid $c1-error !important;
            color: $c1-error;
         }

         &.valid {
            border-top: 2px solid $c1-success !important;
            border-bottom: 2px solid $c1-success !important;
            color: $c1-success;
         }
      }
   }

   .wpcf7-not-valid-tip,
   .wpcf7-validation-errors,
   label.error {
      margin-bottom: 0 !important;
      padding: 0;
      border: 0 !important;
      font-size: 0.9rem;
      line-height: 1em;
      color: $c1-error;
   }

   &__checkbox-wrapper {
      .error {
         margin-top: 8px;
      }
   }
}

// not valid checkbox
.wpcf7-not-valid {
   input[type="checkbox"] {
      // label and visible checkbox
      & + span.wpcf7-list-item-label {
         &:before {
            border-color: $c1-error;
         }
      }
   }
}
// not valid-label checkbox
.fm-checkbox {

   .wpcf7-not-valid-tip {
      display: none !important;
   }
}

// not valid send mail
.wpcf7-response-output.wpcf7-validation-errors {
   margin: 2em 0 0 0 !important;
   padding: 0 !important;
   border: 0 !important;
}

// valid send mail
.wpcf7-response-output.wpcf7-mail-sent-ok {
   margin: 2em 0 0 0 !important;
   padding: 0 !important;
   border: 0 !important;
}
