{# USES
   {% include "/partials/overlays/o_lightbox.twig" %}
#}

<div class="o_lightbox">
   <figure class="o_lightbox__figure">
      <button class="o_lightbox__close" aria-label="{{ __( 'Lightbox schließen', 'wptd' ) }}">
         <svg class="icon o_lightbox__icon"><use href="#icon-e-remove" xlink:href="#icon-e-remove"/></svg>
      </button>
   </figure>
</div>
