{% block html_head_container %}

   {% include 'html-header.twig' %}
   {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

{% block header %}
   {% include '/partials/header/h_site.twig' %}
{% endblock %}

<main class="main">

   {% block content %}
      {{ __('Keine Inhalte gefunden', 'wptd')}}
   {% endblock %}

</main>

{% block footer %}
   {% include '/partials/footer/f_site.twig' %}
   {{ function('wp_footer') }}
{% endblock %}

</body>
</html>
