{% block html_head_container %}
   {% include 'html-header.twig' %}
   {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

{% block icons %}
   {% include "/icons/icons.svg" %}
{% endblock %}

{% block header %}
   {% include '/partials/header/h_site.twig' %}
{% endblock %}

<main class="main pt-300 pb-300">

   {% block content %}
      {{ __('Keine Inhalte gefunden', 'wptd')}}
   {% endblock %}

</main>

{% block sidebar %}
{% endblock %}

{% include '/partials/modules/m_back-to-top.twig' %}

{% block footer %}
   {% include '/partials/overlays/o_lightbox.twig' %}
   {% include '/partials/footer/f_site.twig' %}
   {{ function('wp_footer') }}
{% endblock %}

</body>
</html>
