.h_site-wrapper {
   position: fixed !important;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 3000;

   // TODO: adjust fixed height for every project
   height: 100px;
   @include media-breakpoint-up(md) {
      height: 120px;
   }

   &.is-active {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $c1-main;
   }
}

.h_site {
   color: $c-white;
   margin-top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

   // TODO: adjust fixed height for every project
   height: 100px;
   @include media-breakpoint-up(md) {
      height: 120px;
   }

   &__home-link {
      @include media-breakpoint-up(md) {
         flex: 0 0 150px;
      }
   }

   &__logo {

      &--mobile {
         @include media-breakpoint-up(md) {
            display: none;
         }
      }

      &--desktop {
         display: none;

         @include media-breakpoint-up(md) {
            display: block;
            width: 100%;
            height: auto;
         }
      }
   }

   &__burger {
      display: block;
      position: relative;
      width: 40px;
      height: 42px;
      cursor: pointer;
      transition: all $transition-150 ease-in-out;

      @include media-breakpoint-up(md) {
         display: none;
      }

      span,
      span:before,
      span:after {
         content: "";
         position: absolute;
         display: block;
         height: 2px;
         width: 30px;
         background: $c-white;
         transition: all $transition-150 ease-in-out;
      }

      span {
         right: 0;
         top: 18px;
      }

      span:before {
         top: -8px;

         @include media-breakpoint-up(lg) {
            top: -9px;
         }
      }

      span:after {
         bottom: -8px;

         @include media-breakpoint-up(lg) {
            bottom: -9px;
         }
      }

      &.is-active {
         span {
            background-color: transparent;
         }
         span:before,
         span:after {
            top: 0;
         }
         span:before {
            transform: rotate(45deg);
         }
         span:after {
            transform: rotate(-45deg);
         }
      }
   }
}
