.f_site {
   font-family: $f2-main;

   &__block {
      @include media-breakpoint-up(md) {
         display: inline-block;
      }
   }

   &__spacer {
      display: none;
      @include media-breakpoint-up(md) {
         display: inline-block;
      }
   }

   &__link {
      cursor: pointer;

      &:focus {
         outline: 0;
      }
   }

   &__contact {
      text-align: center;
      color: $c-white;

      @include media-breakpoint-up(md) {
         text-align: left;
         display: flex;
         justify-content: space-between;
      }
   }

   &__copy {
      text-align: center;
      color: $c-white;
   }
}
