// GENERAL
$login-logo            : url('../img/dreiqbik-logo-mobile.svg');
$login-font            : $f1-second;

// LOGIN
$c1-login-text         : $c-white;
$c1-login-accent       : $c1-third;
$c2-login-accent       : $c1-second;

$c1-login-background   : $c1-main;
$c2-login-background   : $c2-main;

$c1-login-button       : $c1-third;
$c1-login-button-hover : $c2-third;
$c1-login-button-text  : $c-white;

$c1-login-link         : $c1-accent;
$c1-login-link-hover   : $c1-second;

$c1-message-link       : $c1-accent;
$c1-message-link-hover : $c1-second;
