.n_site {
   font-family: $f2-main;

   @include media-breakpoint-up(md) {
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;

      &__nav {
         max-width: none;
         width: auto;
         padding: 0;
         margin: 0;
      }

      ul {
         list-style-type: none;
         padding-left: 0;
         margin: 0;
         display: flex;

         // TODO: adjust margin-top for every project, based on height of h_site-wrapper
         margin-top: 8px;

         li {
            padding: 0.5rem 1rem;
            margin-bottom: 0;

            &:before {
               display: none;
            }

            &.current-menu-item {
               color: $c1-second;
            }

            & + li {
               margin-left: 0.5rem;
            }
         }

         a {
            color: $c-white;
         }
      }
   }
}
