.n_site {
   display: none;

   @include media-breakpoint-up(md) {
      display: block;
   }

   &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 60px;
   }

   ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @include media-breakpoint-up(md) {
         flex-direction: row;
      }

      li {
         background-color: $c2-main;
         border-radius: $border-radius;
         padding: 0 0.5rem;
         margin-bottom: 0.5rem;

         &:before {
            display: none;
         }

         @include media-breakpoint-up(md) {
            margin-bottom: 0;
         }

         &.current-menu-item {
            color: $c1-second;
         }

         & + li {
            @include media-breakpoint-up(md) {
               margin-left: 0.5rem;
            }
         }
      }

      a {
         color: $c-white;
      }
   }

   &.is-active {
      display: block;
      margin-top: 80px;

      @include media-breakpoint-up(md) {
         margin-top: 0;
      }
   }
}

.n_site-burger {
   display: block;
   position: absolute;
   width: 40px;
   height: 42px;
   cursor: pointer;
   right: 0;
   top: 0.7em;
   transition: all 0.25s ease-in-out;

   @include media-breakpoint-up(md) {
      display: none;
   }

   span,
   span:before,
   span:after {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: 30px;
      background: $c-white;
      transition: all 0.15s ease-in-out;
   }

   span {
      right: 0;
      top: 18px;
   }

   span:before {
      top: -8px;

      @include media-breakpoint-up(lg) {
         top: -9px;
      }
   }

   span:after {
      bottom: -8px;

      @include media-breakpoint-up(lg) {
         bottom: -9px;
      }
   }

   &.is-active {
      span {
         background-color: transparent;
      }
      span:before,
      span:after {
         top: 0;
      }
      span:before {
         transform: rotate(45deg);
      }
      span:after {
         transform: rotate(-45deg);
      }
   }
}
