{# USES
   space_bottom => type: string
   editor => type: string
   ---
   {% include "/partials/builder/bl_editor.twig" with {
      space_bottom: 'pb-medium',
      editor: '',
   } %}
#}

<div class="container {{ space_bottom }}">
   <div class="bl_editor tinymce">{{ editor }}</div>
</div>
