{# USES
   space_bottom => type: string
   quote => type: string
   author => type: string
   ---
   {% include "/partials/builder/bl_quote.twig" with {
      space_bottom: 'pb-medium',
      quote: '',
      author: '',
   } %}
#}
<div class="container {{ space_bottom }}">
   <div class="bl_quote">
      <blockquote class="bl_quote__text">{{ quote }}</blockquote>
      {% if author %}
      <p class="bl_quote__author">{{ author }}</p>
      {% endif %}
   </div>
</div>
