@import "./settings/set_functions";
@import "./settings/set_variables";
@import "./settings/mixins/mix_breakpoints";
@import "./settings/mixins/mix_fonts";

body {

    &:after {
       content: "xs";
       display: inline-block;
       background: $c1-third;
       position: fixed;
       bottom: 0;
       right: 0;
       z-index: 100;
       width: 50px;
       padding: 0.5rem 0.7rem;
       text-align: center;
       color: $c-white;

       @include media-breakpoint-up(sm) {
          content: "sm";
       }
       @include media-breakpoint-up(md) {
          content: "md";
       }
       @include media-breakpoint-up(lg) {
          content: "lg";
       }
       @include media-breakpoint-up(xl) {
          content: "xl";
       }
    }
 }
