<aside class="l_sidebar">
   <h2>Sidebar</h2>
   <h3>Kategorien</h3>
   <ul class="m_categories">
   {% for cat in categories %}
      <li>
         <a href="{{cat.link}}">{{cat.name}}</a>
      </li>
   {% endfor %}
   </ul>
   <h3>Tags</h3>
   <ul class="m_tags">
   {% for tag in tags %}
      <li>
         <a href="{{tag.link}}">{{tag.name}}</a>
      </li>
   {% endfor %}
   </ul>
</aside>
